// ---------------------------------------------------------------------------------------------------------------------
//	Viewports list
// ---------------------------------------------------------------------------------------------------------------------
$Viewports: (
                // Phone viewports
                    'MS': 320px,
                    'MM': 375px,
                    'ML': 410px,
                // Tablet viewports
                    'TS' : 600px,
                    'TM' : 740px,
                    'TL' : 800px,
                    'TXL' : 1000px,
                    'TXXL' : '1280px & dpi >= @2x',
                // Desktop viewports
                    'DS' : 1280px,
                    'DM' : 1440px,
                    'DL' : 1600px,
                    'DXL' : 1900px,
                    'DXL2' : 2000px,
                    'D2K' : 2560px,
                    'D4K' : 3840px
            ) !default;

$Viewport-Expressions: (
                               'screen': 'screen',
                               'print': 'print',
                               'handheld': 'handheld',
                               'landscape': '(orientation: landscape)',
                               'portrait': '(orientation: portrait)',
                               'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
                               'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
                       ) !default;

// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Color Palette
// ---------------------------------------------------------------------------------------------------------------------

$C-Primary: #5a86cc;
$C-Third: #687181;
$C-Secondary-Dark: #3c3a3f;
$C-Third-Light: #e5e6e9;

$Color-Primary: #0090ff;
$Color-Primary-Light: #43ADFF;
$Color-Primary-Dark: #1a64aa;
$Color-Primary-Text: #383838;
$C-Termal: #22e3ea;

$CW: 24px;
$CH: 8px;

$Grid-Atom: 8px;
$Grid-Cell: $Grid-Atom * 3;


// ---------------------------------------------------------------------------------------------------------------------

// ---------------------------------------------------------------------------------------------------------------------
// Project Folders
// ---------------------------------------------------------------------------------------------------------------------

$Folder-Img: '../img/';
$Folder-Fonts: '../fonts/';

// ---------------------------------------------------------------------------------------------------------------------
//Line-Height-Link:
$LHA : 18rem;