@font-face
{
  font-family: CirceWebRegular;
  src: url('/wp-includes/fonts/CRC55__W.eot');
  src: url('/wp-includes/fonts/CRC55__W.eot?#iefix') format('embedded-opentype'),
  //url('/wp-includes/fonts/crc55_w.woff2') format('woff2'),
  url('/wp-includes/fonts/CRC55__W.woff') format('woff'),
  url('/wp-includes/fonts/CRC55__W.ttf') format('truetype'),
  url('/wp-includes/fonts/CRC55__W.svg#CirceWeb-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: CirceWebBold;
  src: url('/wp-includes/fonts/CRC65__W.eot');
  src: url('/wp-includes/fonts/CRC65__W.eot?#iefix') format('embedded-opentype'),
  url('/wp-includes/fonts/CRC65__W.woff2') format('woff2'),
  url('/wp-includes/fonts/CRC65__W.woff') format('woff'),
  url('/wp-includes/fonts/CRC65__W.ttf') format('truetype'),
  url('/wp-includes/fonts/CRC65__W.svg#CirceWeb-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: AustinCyWeb-Light;
  src: url('/wp-includes/fonts/AustinCyWeb-Light.eot?#iefix') format('embedded-opentype'),
  url('/wp-includes/fonts/AustinCyWeb-Light.woff') format('woff'),
  url('/wp-includes/fonts/AustinCyWeb-Light.ttf')  format('truetype'),
  url('/wp-includes/fonts/AustinCyWeb-Light.svg#AustinCyWeb-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
