// ----------
%Transition-Std
{
  transition: all .2s;
}

// ----------
%Form-Circle
{
  border-radius: 50%;
}

%Form-Rounded
{
  border-radius: 0;
}

%Form-Radius
{
  border-radius: 3px;
}

// ----------
%Unclickable
{
  cursor: default;
}

%Unselectable
{
  @extend %Unclickable;
  & *::selection
  {
    background-color: transparent;
  }
  &::selection
  {
    background-color: transparent;
  }

}

// ----------

%Uppercase
{
  text-transform: uppercase;
}

%Table-Content
{
  @include Adaptive('>=740px')
  {
    display: table;
    > *
    {
      display: table-cell;
      vertical-align: middle;
    }
  }

}

%Wrapper
{

  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1734px;

  @include Adaptive('>=600px')
  {

    padding-left: 25px;
    padding-right: 25px;

  }

}

%Wrapper-Inner
{
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1734px;

}

%Header-Base
{
  @extend %Font-Austin-Light;
  color: $Color-Primary-Text;
  font-size: 30rem;
  line-height: 34rem;
  font-style: normal;
  letter-spacing: -0.0035em;
}

%Link-Progressive
{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+74,207cca+75,ffffff+76,ffffff+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 74%, #207cca 75%, #ffffff 76%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 74%,#207cca 75%,#ffffff 76%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#ffffff 74%,#207cca 75%,#ffffff 76%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

%Link-Underline-Border
{
  @extend %Transition-Std;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:hover
  {
    @extend %Transition-Std;
    text-decoration: none;

    border-bottom: 1px solid $C-Termal;

  }
}

%Link-Underline-Border-Constant
{

  @extend %Transition-Std;
  text-decoration: none;


  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 85%, #999999 86%, #ffffff 87%, #ffffff 100%); /* FF3.6-15 */
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 85%, #999999 86%, #ffffff 87%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 85%, #999999 86%, #ffffff 87%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  &:visited
  {
    @extend %Transition-Std;



    background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 85%, #999999 86%, #ffffff 87%, #ffffff 100%); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 85%,#999999 86%,#ffffff 87%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(to bottom, #ffffff 0%,#ffffff 85%,#999999 86%,#ffffff 87%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    color: #999999;
  }
  &:hover
  {
    @extend %Transition-Std;

    background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 85%, $C-Termal 86%, #ffffff 87%, #ffffff 100%); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 85%,$C-Termal 86%,#ffffff 87%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(to bottom, #ffffff 0%,#ffffff 85%,$C-Termal 86%,#ffffff 87%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    color: $C-Termal;



  }

}

%Width-Adaptive
{
  width: 100%;
  @include Adaptive('>=600px')
  {

    width: 50%;
  }
  @include Adaptive('>=740px')
  {

    width: percentage(1/3);

  }
  @include Adaptive('>=1000px')
  {

    width: percentage(1/4);
  }
  @include Adaptive('>=1600px')
  {

    width: percentage(1/6);
  }
  @include Adaptive('>=1900px')
  {

    width: percentage(1/7);
  }
  @include Adaptive('>=2000px')
  {

    width: percentage(1/8);
  }
}
%Font-Austin{
  font-family: AustinCyWeb-Light;
}
%Font-Austin-Light
{
  font-family: AustinCyWeb-Light;
}
%Heading{
  @extend %Font-Austin-Light;

}

%Font-Circle-Bold
{
  font-family: CirceWebBold;
}

%Font-Circle-Regular
{
  font-family: CirceWebRegular;
}

%Font-Pt-Serif
{
  font-family: PT Serif, serif;
}

%Button-Std
{
  @extend %Transition-Std;
  border-radius: 3px;
  background-color: #22e3ea;
  color: white !important;
  &:hover
  {
    @extend %Transition-Std;
    background-color: #64fffd;
  }
  &:active
  {
    @extend %Transition-Std;
    background-color: #48e5e3;
  }
}
%Transparent-Menu {
  background-color: rgba(255, 255, 255,.902);
}



