//------------------------------------------------------------------------------------
//---------------------------------LINE-ELEMENTS------------------------------------------
//----------------------------------------------------------------------------------
html
{
  height: 100%;
  font-size: 1px;

}

body
{
  padding-top: 97px !important;
  @include Adaptive('>=600px')
  {
    padding-top: 77px !important;
  }
}

#primary
{
  display: none;
}

input, textarea
{
  box-sizing: border-box;
}

input[type="checkbox"]
{
  margin: 0;
}

a
{

  color: #2d2c30;
  &:hover
  {
    color: $C-Termal;
  }
}

.current-menu-item
{
  a
  {
    color: $C-Termal;
  }

}

.current-menu-parent
{
  a
  {
    color: $C-Termal !important;
  }
}

button, textarea
{
  outline: none;
  background: none;
  border: none;

}

.menu-blog-list-ru-container, .menu-blog-list-en-container
{
  margin-top: 37px;
  @include Adaptive('>=1600px')
  {
    padding-left: 13px;
  }

}

#nav_menu-7
{
  text-transform: lowercase;
}

body
{
  @extend %Font-Circle-Regular;
  display: table;
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-size: 12rem;
  overflow-x: hidden;
  table-layout: fixed;

}

button, input, textarea
{
  -webkit-appearance: none;
}

textarea
{
  resize: none;
}

input:focus, textarea:focus, select:focus
{
  outline: none;
}

//------------------------------------------------------------------------------------
//---------------------------------ALL-PAGES-MODULES------------------------------------------
//----------------------------------------------------------------------------------
.Site-Header-Wrap
{
  @extend %Transparent-Menu;
  display: block;
  position: fixed;
  left: 0;
  top: -1px;
  right: 0;
  width: 100%;
  padding-bottom: 4px;
  z-index: 11;

  border-bottom: 1px solid transparent;
}

.Menu-Fixed
{

  border-bottom: 1px solid #ededed;
  .Site-Header{
    @extend %Transition-Std;
    padding-top: 12px;
    #Branding .Logo{
      width: 196px;
      height: 38px;
    }

  }
  .Header-Nav-Wrap{
    padding-bottom: 4px;
  }



}

main
{
  position: relative;
  display: table-row-group;

}

body:not(.single-post)
{
  .Main
  {
    @extend %Wrapper;
  }
}

.Main-Wrap
{

  .Main
  {

    padding-bottom: 50px;
    @include Adaptive('>=740px')
    {
      padding-bottom: 100px;
    }

  }
}

body:not(.home, .archive )
{
  .Main
  {
    a
    {
      //@extend %Link-Underline;
    }

  }
  .Post-Nav
  {
    a
    {
      text-decoration: none;
      &:hover
      {
        text-decoration: none;
      }
    }
  }

}

//------------------------------------------------------------------------------------
//---------------------------------SINGLE_POST-PAGE------------------------------------------
//----------------------------------------------------------------------------------
.Some-Post, .single-post
{
  .entry-title
  {
    display: block;
    margin-left: auto !important;
    max-width: 688px;

  }
}

//------------------------------------------------------------------------------------
//---------------------------------MAIN-PAGE-SLIDESHOW------------------------------------------
//----------------------------------------------------------------------------------
.Js-Slider
{

  a
  {
    border: none;
    box-shadow: none !important;
  }
  .flex-viewport li
  {
    position: relative;
    height: 350px !important;

    background-position: 50% center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    @include Adaptive('>=740px')
    {
      height: 322px !important;

    }
    @include Adaptive('>=1000px')
    {
      height: 480px !important;
    }
    @include Adaptive('>=1900px')
    {
      height: 720px !important;
    }
    > *
    {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
    }

  }
}

.Image-Container
{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.Main-Slider, .Post-Single-Slider
{
  position: relative;
  max-width: 2004px;
  margin: 0 auto;
  overflow: hidden;
  @include Adaptive('>=1996px')
  {
    &:before
    {
      content: '';
      position: absolute;
      width: 3px;
      height: 100%;
      top: 0;
      left: -2px;
      bottom: 0;
      background-color: white;
      z-index: 100;

    }
    &:after
    {
      content: '';
      position: absolute;
      width: 3px;
      height: 100%;
      top: 0;
      right: -2 px;
      bottom: 0;
      background-color: white;
      z-index: 100;

    }
  }
  .flex-control-nav
  {
    bottom: 14px !important;
    a
    {
      border-radius: 30px;
      background-image: none;
      background: transparent;
      border: 2px solid white;
      margin: 6px;
      &.flex-active
      {
        background-color: white;
      }
      &:hover:not(.flex-active)
      {
        background-color: rgba(255, 255, 255, .5);
      }
    }
  }

}

//------------------------------------------------------------------------------------
//---------------------------------SINGLE-PAGE-SLIDESHOW------------------------------------------
//----------------------------------------------------------------------------------
.slideshow-wrapper, .Some-Post .slideshow-wrapper
{
  margin: 0;
}

.Site-Footer-Wrap
{
  display: table-footer-group;
  height: 5%;
  background-color: #3c3a3f;
}

.psp-active
{
  //width: 100% !important;
  max-width: 100% !important;

}

#portfolio-slideshow0
{
  max-width: 100% !important;
  a
  {
    border: none;
  }
}

#slideshow-nav0
{
  a
  {
    border: none;
  }
}

.home
{
  .psp-active
  {
    height: 100%;

  }
}

//------------------------------------------------------------------------------------
//---------------------------------PAGE-HOW------------------------------------------
//----------------------------------------------------------------------------------
.page-id-2 .Page-Heading
{
  display: table;
  width: 100%;
  > h2
  {

    display: table-caption;
    padding: 25px 0 0 !important;
    @include Adaptive('>=1000px')
    {
      padding: 25px 0 32px !important;
    }

  }

}

.Page-How
{

  .Page-Heading
  {
    position: relative;
    padding: 28px 0 0;
    > h2
    {
      font-family: AustinCyWeb-Light;

      padding-bottom: 32px;
      max-width: 658px;

      font-size: 30rem;
      line-height: 35rem;
      font-style: normal;
      color: #2d2c30;

      @include Adaptive('>=1900px')
      {
        width: 53%;
        margin-left: 21% !important;
      }
      br
      {
        display: none;
      }
    }

  }

  @at-root .How-Content
  {

    width: 100%;
    br
    {
      display: none;
    }

    h2
    {
      @extend %Font-Austin;

      font-size: 30rem;
      line-height: 32rem;
      padding-bottom: 20px;
      font-style: normal;

      max-width: 656px;
      @include Adaptive('>=600px')
      {
        display: inline-block;
      }

    }

    //HOW-HEADING
    @at-root .How-Heading
    {
      position: relative;
      font-size: 0;
      .How-Titles
      {
        padding-top: 8px;
        padding-bottom: 8px;
        @include Adaptive('>=740px')
        {
          width: 20%;

        }
      }

      @at-root .How-Titles
      {
        font-size: 18rem;
        @include Adaptive('>=740px')
        {
          display: inline-block;
          vertical-align: top;
          padding-right: 20px;

        }
      }
      @at-root .How-Explain
      {
        @include Adaptive('>=740px')
        {
          display: inline-block;
          width: 80%;

        }
      }
      .Portfolio
      {
        @include Adaptive('>=1000px')
        {
          //display: inline-block;
          //float: right;
        }
        a
        {

          @extend %Button-Std;
          display: inline-block;
          text-decoration: none !important;
          border-radius: 5px;
          padding: 10px 15px 4px;

          cursor: pointer;
        }

        span
        {

          font-size: 18rem;

        }
      }
    }
    //HOW-DESCRIPTION
    @at-root .How-Descriptions
    {
      @extend %Clearfix;
      font-size: 0;

      @include Adaptive('>=740px')
      {
        margin-top: -55px;
      }

      ///Block-Image
      @at-root .How-Blocks
      {
        padding-top: 20px;
        @include Adaptive('>=740px')
        {
          display: inline-block;
          width: 40%;
          padding-top: 0;
          float: right;
        }

      }
      ///Block-Description
      .Description-Of
      {

        font-size: 0;
        @include Adaptive('>=740px')
        {
          display: inline-block;
          width: 60%;
          padding-top: 115px;
        }

        h4
        {
          @extend %Font-Circle-Bold;
          font-size: 18rem;
          line-height: 25rem;

        }
        .How-Titles, .Services, .Process
        {
          padding-top: 20px;
        }
        .How-Titles
        {
          @include Adaptive('>=740px')
          {
            width: 33%;

          }
        }
        .Process
        {
          @include Adaptive('>=740px')
          {
            padding-right: 20px;
          }
        }
        .Services, .Process
        {

          @include Adaptive('>=740px')
          {
            display: inline-block;
            width: 67%;
          }
          @include Adaptive('>=1900px')
          {

          }
          a
          {
            @extend %Link-Underline-Border-Constant;
          }

        }
        strong
        {
          font-style: normal;

        }
        p, ul
        {
          @extend %Font-Circle-Regular;
          font-size: 18rem;
          line-height: 25rem;
          margin-bottom: 15px !important;
        }
      }

    }






    .Process, .Services
    {

    }

    .Description-Of
    {

    }

  }
}

//--------------------------------------------------------------------------------
//---------------------------------SINGLE-POST-----------------------------------
//-----------------------------------------------------------------------------
body.single-format-aside .Post-Single-Wrap .Co-Authors
{
  display: none;
}

.single
{
  #primary
  {
    display: none;
  }
  .entry-content
  {

    @at-root .Post-Descriptions
    {

    }

  }

}

.Post-Single-Image
{
  padding-bottom: 25px;
  @include Adaptive('>=740px')
  {
    padding-bottom: 47px;
  }

  > div
  {
    padding-bottom: 77%;
    margin: 0 25px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include Adaptive('>=740px')
    {
      margin: 0;
      height: 720px;
      padding-bottom: 0;
    }
    @include Adaptive('>=1900px')
    {
      height: 730px;
    }

  }
}

//------------------------------------------------------------------------------------
//---------------------------------PAGE-WHERE------------------------------------------
//----------------------------------------------------------------------------------
.Where-Content
{
  width: 100%;
  @include Adaptive('>=1000px')
  {
    width: 100%;
  }
  @include Adaptive('>=1900px')
  {
    width: 88%;
    margin: 0 auto;
  }
  @include Adaptive('>=2000px')
  {
  }
  .Where-Info
  {
    .Address
    {
      td
      {
        vertical-align: baseline;
      }
    }
  }

  h2
  {
    @extend %Font-Austin;
    margin: 0 0 38px;
    font-size: 22rem;
    line-height: 25rem;

    @include Adaptive('>=740px')
    {
      margin: 0 0 10px;
      font-size: 30rem;
      line-height: 31rem;

    }
    a
    {
      color: #2d2c30;
      text-decoration: none !important;

    }

  }

  tbody
  {
    @include Adaptive('>=1900px')
    {
      display: table-cell;
      vertical-align: top;

    }

    tr
    {
      @include Adaptive('>=1900px')
      {
        display: table;
        width: 100%;
      }
    }
    td
    {
      display: block;
      font-size: 18rem;
      line-height: 25rem;
      @include Adaptive('>=600px')
      {
        display: table-cell;
        vertical-align: top;
      }
    }

  }
  .Where-Info
  {
    width: 50%;
  }
  .Where-Feedback
  {
    tr
    {
      .labels_map
      {

        @include Adaptive('>=1900px')
        {
          display: none;
        }
      }
    }
  }
  .labels_map
  {
    padding-bottom: 9px;

    @include Adaptive('>=600px')
    {
      width: 20%;
    }

  }
  form
  {
    @include Adaptive('>=1600px')
    {
      max-width: 80%;
    }
    .formline
    {
      display: block;
      font-size: 0;

      & + .formline
      {
        margin-top: 11px;

      }
      @include Adaptive('>=740px')
      {
        margin-bottom: 0;
      }
      @include Adaptive('>=1900px')
      {
        padding-right: 10%;
      }

      span
      {
        font-size: 18rem;
        @include Adaptive('>=600px')
        {
          display: inline-block;
          vertical-align: top;

          &:nth-of-type(2)
          {
            width: calc(100% - 250px);
          }
        }

        &.nam
        {
          @extend %Unselectable;
          @include Adaptive('>=600px')
          {
            max-width: 250px;
            width: 100%;
            padding-top: 6px;
            padding-right: 25px;
          }

        }

      }
      input, textarea
      {
        @extend %Font-Circle-Regular;
        width: 100%;
        padding: 6px 12px;
        -webkit-appearance: none;
        outline: none;

        border-radius: 1px;
        color: #2d2c30;
      }
      textarea
      {
        height: 106px;
      }

      input[type="submit"]
      {
        @extend %Button-Std;
        display: block !important;
        margin: 0;
        cursor: pointer;
        font-size: 18rem;
        border: none;
        font-style: normal;

        @include Adaptive('>=600px')
        {
          width: calc(100% - 250px);
          margin-left: auto;
        }

      }

    }
  }
  #map_canvas
  {
    width: 100% !important;
    height: 0 !important;
    padding-bottom: 77%;
    margin-bottom: 35px;
    @include Adaptive('>=1600px')
    {

      margin-top: 9px;
      margin-bottom: 42px;
      max-width: 80%;
    }
  }

}

//------------------------------------------------------------------------------------
//---------------------------------PAGE-WHO------------------------------------------
//----------------------------------------------------------------------------------

.Who-Content
{
  display: block;

  @include Adaptive('>=1900px')
  {
    display: table;
    //width: 1650px;
    margin: 0 auto;
  }

  img
  {
    max-width: 85%;
    max-height: 57px;
    @include Adaptive('>=740px')
    {
      max-width: 100%;
      max-height: 100%;
    }
  }
  h2
  {
    @extend %Font-Austin;
    max-width: 612px;
    font-size: 30rem;
    line-height: 33rem;
    word-wrap: break-word;
    word-break: break-word;
  }
  a
  {
    //@extend %Link-Underline-Border-Constant;
  }
  .Who-Heading
  {

    @include Adaptive('>=600px')
    {
      padding-top: 6px !important;
    }
  }

  //To-All Table Elements
  .Who-About, .Who-Work-With
  {
    display: block;

    @include Adaptive('>=1900px')
    {
      display: table-cell;
      vertical-align: top;
      &:first-of-type
      {
        width: 47%;
      }
      &:nth-of-type(2)
      {
        width: 53%;
      }
    }
    tr
    {
      display: block;
      width: 100%;
      font-size: 0;
      td
      {
        @include Adaptive('>=740px')
        {
          display: inline-block;
        }
      }

    }

  }
  tr td
  {
    display: block;
    vertical-align: top;

    font-size: 18rem;
    line-height: 25rem;
    padding-bottom: 20px;

    @include Adaptive('>=740px')
    {
      padding-bottom: 50px;
    }
    &:nth-of-type(2)
    {
      @include Adaptive('>=1900px')
      {
        vertical-align: top;
        padding-right: 60px;
      }

    }
  }
  .labels_map, .labels_txt
  {
    padding: 20px 0 18px;

    @include Adaptive('>=740px')
    {

      padding: 0 6px 0 0;
    }

  }

  //TBODY-FIRST
  .Who-About
  {

    @include Adaptive('>=740px')
    {
      padding: 0;
    }

    tr
    {
      .labels_map, .labels_txt
      {
        @include Adaptive('>=740px')
        {
          width: 20%;
        }
      }

      td:nth-of-type(2)
      {

        @include Adaptive('>=740px')
        {
          width: 79%;
          h2
          {
            padding-top: 2px;
          }
        }
      }
    }
    tr:first-of-type
    {
      .labels_map, .labels_txt
      {
        @include Adaptive('>=740px')
        {

          padding: 0 9px 0 0;
        }
      }
    }

  }
  //TBODY-SECOND
  .Who-Work-With
  {

    .labels_map, .labels_txt
    {
      padding: 17px 0 20px;
      @include Adaptive('>=740px')
      {
        width: 14%;
        padding: 25px 9px;
      }
      @include Adaptive('>=1000px')
      {
        width: 14%;
      }
      @include Adaptive('>=1600px')
      {

        padding: 26px 9px;
      }
      @include Adaptive('>=1900px')
      {
        padding: 8px 0;
      }
    }

    tr td:nth-of-type(2)
    {
      @include Adaptive('>=740px')
      {
        width: 81%;
      }
      @include Adaptive('>=1000px')
      {
        width: 83%;

      }
      @include Adaptive('>=1900px')
      {
        width: 86%;

      }

    }

  }

  .Clients
  {
    @extend %Unselectable;
    font-size: 0;
    li
    {
      display: inline-block;
      vertical-align: middle;
      font-size: 12rem;
      width: 50%;
      padding-bottom: 40px;

      text-align: center;
      @include Adaptive('>=600px')
      {
        width: 33.3333%;
      }
      @include Adaptive('>=1000px')
      {
        width: 25%;
      }
      @include Adaptive('>=1900px')
      {
        width: 33.3333%;
      }
    }
  }

}

;
//------------------------------------------------------------------------------------
//---------------------------------PAGE-WHAT------------------------------------------
//----------------------------------------------------------------------------------
.Tags
{

  .hentry
  {
    display: none;
  }

}

.Page-What, .Tags
{
  @at-root  .Page-What .Category, .Tags .Tags-Container
  {
    @extend %Clearfix;
    font-size: 0;
    text-align: center;
    @include Adaptive('>=740px')
    {
      text-align: initial;
    }

  }
  .Inline-Section
  {
    @extend %Width-Adaptive;
    display: inline-table;
    vertical-align: middle;
    @include Adaptive('>=600px')
    {
      display: inline-block;
      span
      {
        max-width: 100%;
      }
      .ttip
      {
        max-width: 245px;
        width: 100%;
        img
        {
          width: 100%;
        }
      }
    }
  }

}

.Page-What
{

}

//------------------------------------------------------------------------------------
//---------------------------------CONTENT------------------------------------------
//----------------------------------------------------------------------------------

//------------------------------------------------------------------------------------
//---------------------------------PAGE-BLOG------------------------------------------
//----------------------------------------------------------------------------------
.category-blog
{
  .Main-Wrap .Main
  {
    @include Adaptive('>=1600px')
    {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

.Linked-Image
{
  border: none !important;
  text-decoration: none !important;
  &:hover
  {
    border: none !important;
    text-decoration: none !important;
  }

}

.portfolio-slideshow
{
  a
  {
    border: none;
  }
  img
  {
    height: auto;
  }
}

.Page-Blog
{
  padding-top: 20px;
  a:not(.Linked-Image)
  {
    ////border-bottom: none !important;
    //text-decoration: underline;
    @extend %Link-Underline-Border-Constant;
  }
  h3, h4, h5, h6
  {
    font-size: 18rem;

    @include Adaptive('>=600px')
    {
      font-size: 20rem;
    }

  }
  h5, h6
  {
    color: #7f7f7f;
  }

  @include Adaptive('>=740px')
  {
    padding-top: 40px;
  }
  .Title-Wrap
  {
    @extend %Transition-Std;
    display: table;
    margin-bottom: 20px;
    text-decoration: none;

    background-image: none !important;

    @include Adaptive('>=740px')
    {
      margin-bottom: 25px;
    }

  }
  .Title
  {
    @extend %Font-Austin;
    display: inline;
    font-size: 23rem;
    line-height: 25rem;

    @include Adaptive('>=740px')
    {
      font-size: 30rem;
      line-height: 33rem;
    }
  }
  .Blog-Posts
  {
    font-size: 0;
    .Massonry
    {
      width: 100%;

    }

    @include Adaptive('>=1600px')
    {
      padding-bottom: 40px;

      .Massonry
      {

        float: left;
        width: 50%;

        padding: 0 12px 40px !important;

        img
        {
          height: auto;
        }
      }
    }

    @include Adaptive('>=1900px')
    {
      .Massonry
      {
        width: 33.33%;
      }
    }

    .Post-Content
    {
      padding-bottom: 40px;

      @include Adaptive('>=1000px')
      {
        max-width: 72%;

      }
      @include Adaptive('>=1900px')
      {
        display: inline-block;
        vertical-align: top;

      }

      img
      {
        max-width: 100%;
        margin-bottom: 20px;
        height: auto;
        @include Adaptive('>=740px')
        {

          width: 100%;

        }
      }
      a
      {
        font-size: 18rem;
      }

      .more-link
      {
        @extend %Link-Underline-Border-Constant;
        text-decoration: none;
        margin-right: 25px;

        -webkit-appearance: none;

      }

      .Descriptions
      {
        p
        {
          @extend %Font-Circle-Regular;
          margin-bottom: 25px;
          font-size: 18rem;
          line-height: 25rem;
          color: #2d2c30;
          &:last-of-type
          {
            margin-bottom: 0;
          }
          a
          {
            @extend %Transition-Std;

            br
            {
              display: none;
            }

          }
        }

        img + p
        {
          margin-top: 15px;
        }
      }
    }

  }

}

//------------------------------------------------------------------------------------
//---------------------------------MAIN-PAGE------------------------------------------
//----------------------------------------------------------------------------------
.Header-Slogan
{
  @extend %Wrapper;
  margin-top: 21px;
  margin-bottom: 46px;
  @include Adaptive('>=600px')
  {
    margin-top: 40px;
    margin-bottom: 64px;
  }

  h1
  {

    @extend %Header-Base;
    font-family: AustinCyWeb-Light;
    @include Adaptive('>=600px')
    {
      margin-left: auto;
      padding-right: 0;
      max-width: 307px;

    }
    @include Adaptive('>=1000px')
    {
      max-width: 472px;
    }
  }
}

#content h2
{

}

.post-2
{
  //margin-top: 50px;
}

.entry-content
{
  > p
  {
    @extend %Clearfix;
    font-size: 0;
    text-align: center;
    @include Adaptive('>=740px')
    {
      text-align: initial;
    }

  }
}

.home .ttip
{
  @extend %Width-Adaptive;
  width: 260px;

}

.ttip
{

  display: table;
  vertical-align: middle;

  height: 177px;
  width: auto;
  margin: 0 auto;

  padding-left: 53%;
  text-align: left;

  position: relative;

  @include Adaptive('>=600px')
  {
    display: inline-block;
    float: left;
    padding-left: 0;
    height: 305px;

    padding-top: 10px;
    text-align: center;
  }
  @include Adaptive('>=2000px')
  {
    height: 280px;
  }
  &:hover
  {

    opacity: 1;
    filter: alpha(opacity=100);
    line-height: 1.1;
    bottom: 0;
    span
    {
      @extend %Transition-Std;
    }
  }
  strong
  {
    font-size: 18rem;
    display: block;
    padding-bottom: 5px;
    & + br
    {
      display: none;
    }

  }
  br
  {
    display: none;
  }


  span
  {
    @extend %Transition-Std;
    display: table-cell;

    position: relative;
    z-index: 2;

    vertical-align: middle;
    width: 120px;

    background-color: #ffffff;
    color: #2d2c30;
    opacity: 0.9;

    filter: alpha(opacity=70);
    line-height: 1.1;

    word-wrap: break-word;

    font-size: 18rem;

    @include Adaptive('>=600px')
    {
      display: block;
      width: 224px;
      max-width: 100%;
      padding: 0 12px;
      margin: 0 auto;

      position: absolute;
      top: 270px;
      left: 0;
      right: 0;

      font-size: 14rem;

    }
    @include Adaptive('>=2000px')
    {
      top: 200px;
    }

  }
  img
  {
    position: absolute;
    right: 49%;
    top: 0;
    bottom: 0;

    width: 140px;

    margin: auto;

    @include Adaptive('>=600px')
    {
      position: relative;
      display: block;
      margin: 0 auto;
      max-width: 245px;
      width: 100%;
      bottom: auto;
      right: auto;

    }
    @include Adaptive('>=2000px')
    {
      width: 80%;
    }
  }

}

.entry-summary
{

  text-align: center;

  margin: 0 auto;
  width: 100%;
  max-width: 250px;

}

.head_slogans
{

}
html[lang="en-US"] {
  .Site-Header {
    .menu-header {
      ul {

        li {

          & + li {
            padding-left: 0;
            a{
              margin-left: 8px;
            }
            @include Adaptive('>=360px') {
              padding-left: 19px;
            }
          }
        }
      }
    }
    .Menu-Blog{
      padding-left: 0;
    }
  }
}

.Header-Submenu
{
  @extend %Wrapper-Inner;
  display: table;
  width: 100%;
  padding: 0;
  .widget_nav_menu
  {
    display: table-footer-group;
    .current-menu-item a
    {
      cursor: default;
    }
    a
    {
      @extend %Transition-Std;
      font-size: 18rem;
      display: inline-block;
      position: relative;

      @include Adaptive('>=1000px')
      {
        font-size: 18rem;
      }
    }
    ul
    {
      max-width: 480px;
      width: 100%;
      @include Adaptive('>=1000px')
      {

      }
      > li
      {
        display: inline;
        vertical-align: middle;
        padding-right: 25px;
        line-height: 30rem;
        &:last-of-type
        {
          padding-right: 0;
        }
      }
    }

  }
  .widget_text
  {
    display: table-header-group;
    .textwidget
    {

      @extend %Header-Base;
      display: table;

      max-width: 260px;
      color: #2d2c30;
      font-style: normal;
      margin-top: 30px;
      margin-bottom: 70px;

      @include Adaptive('>=740px')
      {
        margin-left: auto;
        max-width: 310px;
        margin-top: 40px;
        margin-bottom: 33px;

      }
      @include Adaptive('>=1000px')
      {
        max-width: 472px;
      }

    }
  }
}

.Header-Submenu
{
  @extend %Table-Content;
  width: 100%;
  .menu
  {
    @extend %Table-Content;

  }
  .widget.widget_text
  {
    @extend %Font-Pt-Serif;
    max-width: 688px;
    font-style: italic;
    font-size: 30rem;

  }
}

//------------------------------------------------------------------------------------
//---------------------------------SINGLE-PAGE------------------------------------------
//----------------------------------------------------------------------------------
.single-post
{
  .Main-Wrap .Main
  {
    max-width: 100%;
  }
  .navigation
  {
    display: none;
  }

  @at-root .Navigation
  {
    @extend %Clearfix;

    display: table;
    width: 100%;

    padding: 37px 0;
    margin: 0 auto;

    font-size: 18rem;
    line-height: 25rem;
    color: #888;

    a
    {
      @extend %Link-Progressive;
      display: inline;

      border: none !important;

      .meta-nav
      {
        position: absolute;
        top: 0;
        line-height: 25rem;

      }
    }

    .Prev, .Next
    {
      position: relative;
      width: 100%;

      @include Adaptive('>=740px')
      {
        max-width: 250px;
      }

    }

    .Prev
    {
      padding: 0 0 20px 20px;
      @include Adaptive('>=740px')
      {
        float: left;
      }
      .meta-nav
      {
        left: 0;

      }
    }

    .Next
    {
      padding: 0 20px 20px 0;
      float: right;
      text-align: right;

      .meta-nav
      {
        right: 0;

      }
    }
  }
}

body:not(.category-blog,.category-blog-reviews,.category-blog-works,.category-blog-articles).archive .menu-header .menu-item-object-category
{
  a
  {
    color: $C-Termal;
  }
}

.Header-Nav .current-category-ancestor
{
  a
  {
    color: $C-Termal;
  }
}

.single-format-standard .Post-Single-Title
{
  max-width: 1734px;
  @include Adaptive('>=740px')
  {
    span
    {
      display: table;
      width: 100%;
      max-width: 360px;
      margin-left: auto;

    }

  }
  @include Adaptive('>=1000px')
  {
    width: 100%;
    span
    {
      max-width: 523px;
    }

  }

}

.Post-Single-Wrap
{
  max-width: 2000px;

  p, span
  {
    font-size: 18rem;
    line-height: 25rem;

  }
  p
  {
    color: #2d2c30;
  }
  img
  {
    width: 100%;
  }

  .Post-Single-Title
  {
    max-width: 1734px;

    @extend %Font-Austin;

    margin: 25px auto 25px;
    span
    {
      display: block;
      padding-right: 25px;
      padding-left: 25px;
      font-size: 23rem;
      line-height: 28rem;
    }
    @include Adaptive('>=740px')
    {

      span
      {
        font-size: 36rem;
        line-height: 40rem;

      }

    }

  }
  .Post-Single
  {
    @extend %Wrapper;
    @include Adaptive('>=740px')
    {
      display: table;
      width: 100%;

    }

    h2, h4
    {
      @extend %Font-Circle-Bold;
      font-size: 18rem;
      line-height: 27rem;
      margin-bottom: 12px;

    }
    h5
    {
      @extend %Font-Circle-Regular;

      font-size: 18rem;
      line-height: 25rem;
    }
    h6
    {
      color: #808080;
    }
    p
    {

      padding-bottom: 14px;

    }
    .Co-Authors, .Description-Wrap
    {

      @include Adaptive('>=740px')
      {
        display: table-cell;
        vertical-align: top;
      }

    }
    .Co-Authors
    {

      font-size: 13rem;
      line-height: 18rem;
      color: #2d2c30;
      padding-bottom: 35px;
      @include Adaptive('>=740px')
      {
        width: 26%;
        padding-top: 7px;
        padding-left: 16px;
        padding-right: 25px;
      }

      i
      {
        @extend %Font-Circle-Bold;
        margin-top: 16px;
        display: block;
        line-height: 17rem;
        &:first-of-type
        {
          margin-top: 0;
        }
      }
      br
      {
        display: none;
      }
    }
    .Double-Column
    {
      column-count: 2;
    }
    .Double-Column-HD
    {
      font-size: 18rem;
      line-height: 25rem;
      @include Adaptive('>=1900px')
      {
        column-count: 2;
      }
    }

    .Description-Wrap
    {
      .Description
      {
        max-width: 1082px;
        @include Adaptive('>=740px')
        {
          padding-left: 3px;
        }

        a
        {
          @extend %Link-Underline-Border-Constant;
        }
        p
        {
          &:first-of-type
          {
            img
            {
              margin-top: 0;
            }
          }
        }
        * + p:first-of-type
        {
          img
          {
            margin-top: 10px;
          }
        }

      }

      img
      {
        margin-top: 17px;
        height: auto;
      }
    }

  }
  .Description
  {
    a
    {

    }
  }

}












