<!--:en-->
<div class="How-Content">
    <div class="How-Heading">
        <div class="How-Titles">working process</div>
        <section class="How-Explain">
            <h2>We understand: good strategy and creativity are inseparable in the work. This helps us to find the only
                true way to
                the goal - we develop a brand that is remembered. The output is not pictures, but selling
                packaging.</h2><div class="Portfolio"><a
                href="http://ohmybrand.ru/wp-content/uploads/portfolio/ohmybrand_10_2015.pdf" target="_blank"><span>Our portfolio in pdf</span></a>
</div>
        </section>
    </div>
    <div class="How-Descriptions">
        <div class="How-Blocks Image-What"><img class="alignnone size-full wp-image-466" title="shc"
                                                alt="Этапы работы над новой торговой маркой"
                                                src="http://ohmybrand.ru/wp-content/uploads/2016/01/omb_infographics.jpg"/>
        </div>
        <div class="How-Text">

            <div class="Description-Of">
                <div class="How-Titles">working-process</div>
                <div class="Process">

                    <h4>
                        <strong>1.<em>Determine the target.</em> </strong>
                    </h4>

                    <p>
                        All starts from communication with the client,
                        setting objectives and a detailed study of the market
                    </p>

                    <h4>
                        <strong>2.<em>Formulate the idea</em></strong>
                    </h4>

                    <p>
                        we identified benefits of the product, its features and selected key messages.
                    </p>

                    <h4><strong>3.<em>Realize
                        design </em></strong>
                    </h4>

                    <p>Developing design, name, tag line and communications company, helping to
                        achieve the main goal and make a brand recognizable
                    </p>

                    <h2><strong>Services and instruments</strong></h2>
                </div>
                <div class="How-Titles">instruments</div>
                <div class="Services">
                    <h4>
                        <strong><em><a
                                href="http://ohmybrand.ru/category/strategy/">Strategy</a></em></strong>
                    </h4>

                    <ul>
                        <li>Insight Brand idea</li>
                        <li>Moodboard Brand positioning</li>
                    </ul>
                    <h4>
                        <strong><em><a href="http://ohmybrand.ru/category/ids/">Visual identity</a></em></strong>
                    </h4>

                    <p>
                        Sign and logotype Colors and fonts Main element
                    </p>
                    <h4>
                        <strong><em><a
                                href="http://ohmybrand.ru/category/package/">Packaging design</a></em></strong>
                    </h4>

                    <p>
                        Differentiation Hierarchy of elements
                    </p>
                    <h4>
                        <strong><em><a href="http://ohmybrand.ru/category/copywriting/">Copywriting</a></em></strong>
                    </h4>

                    <p>
                        Name Tag line Brand legend <strong><em>Brandbooks and guidelines</em></strong>
                    </p>


                </div>
            </div>
        </div>

    </div>
</div>
<!--:--><!--:ru-->

<div class="How-Content">
    <div class="How-Heading">
        <div class="How-Titles">процесс работы</div>
        <section class="How-Explain">
            <h2>Грамотная стратегия и творчество в работе неотделимы. Это помогает нам найти единственно верный путь
                к цели – мы
                разрабатываем бренд, который запоминается. Результат – не картинки, а продающая упаковка.</h2><div class="Portfolio"><a
                href="http://ohmybrand.ru/wp-content/uploads/portfolio/ohmybrand_10_2015.pdf" target="_blank"><span>Портфолио одним файлом</span></a></div>
        </section>

    </div>
    <div class="How-Descriptions">
        <div class="How-Blocks Image-What"><img class="alignnone size-full wp-image-466" title="shc"
                                                alt="Этапы работы над новым визуальным брендом"
                                                src="http://ohmybrand.ru/wp-content/uploads/2016/01/omb_infographics.jpg"/>
        </div>
        <div class="Description-Of">
            <div class="How-Titles">процесс работы</div>
            <div class="Process">
                <h4><strong>1.<em>Стратегия бренда</em></strong></h4>

                <p>
                    Все начинается с постановки задачи, детального изучения
                    рынка. Стратегия бренда – основа, ядро будущего бренда.
                </p>

                <h4>
                    <strong>2.<em>Визуальная концепция бренда</em></strong>
                </h4>

                <p>На этом этапе визуализируем стратегию бренда с разных сторон, с помощью визуальных гипотез. Определив
                    самую точную, получаем визуальную концепцию, направление работы. </p>

                <h4>
                    <strong>3.<em>Дизайн-шаблоны</em></strong>
                </h4>

                <p>Разрабатываем элементы стиля, различные носители.</p>

                <h4>
                    <strong>4.<em>Применение</em></strong>
                </h4>

                <p>
                    Прописываем концепцию позиционирования и направление развития в Brand-book. Описываем стандарты и
                    правила работы с брендом в Guide line Объясняем новый стиль в Style guide Правила для мерчендайзеров
                    и
                    продавцов объединяем в Sales-book. И применяя всё это, получаем наш <strong>визуальный
                    бренд.</strong>
                </p>


            </div>
            <div class="How-Titles">сервисы и инструменты</div>
            <div class="Services">
                <h4>
                    <strong><em><a href="http://ohmybrand.ru/category/strategy/">Стратегия</a></em></strong>
                </h4>
                <ul>
                    <li>Анализ конкурентной среды</li>
                    <li>Концепция позиционирования</li>
                    <li>Стратегия бренда</li>
                    <li>Иерархия значимых свойств продукта</li>
                </ul>

                <h4><strong><em><a href="http://ohmybrand.ru/category/copywriting/">Нейминг</a></em></strong></h4>

                <ul>
                    <li>Название</li>
                    <li>Слоган</li>
                    <li>Легенда бренда</li>
                    <li>Интонация бренда</li>
                </ul>

                <h4><strong><em><a href="http://ohmybrand.ru/category/ids/">Визуальная идентификация
                    бренда</a></em></strong></h4>

                <ul>
                    <li>Знак, логотип, фирменный шрифт</li>
                    <li> Система визуальных идентификаторов</li>
                    <li>Стандарты бренда (брендбук и гайдлайн)</li>
                </ul>


                <h4><strong><em><a href="http://ohmybrand.ru/category/package/">Разработка упаковки</a></em></strong>
                </h4>
                <ul>
                    <li>Концептуальный дизайн
                    <li>
                    <li>Структурный дизайн (форма упаковки)</li>
                    <li>Логистическая упаковка</li>
                </ul>
            </div>
        </div>
    </div>

</div>
<!--:-->