/*/!**/
/*Theme Name: Twenty Ten*/
/*Theme URI: http://wordpress.org/*/
/*Author: the WordPress team*/
/*Version: 1.4*/
/*License: GNU General Public License v2 or later*/
/*License URI: http://www.gnu.org/licenses/gpl-2.0.html*/
/*Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu*/
/*Text Domain: twentyten*/
/*=Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html*/
/*-------------------------------------------------------------- *!/*/

/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, font, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td {*/
	/*background: transparent;*/
	/*border: 0;*/
	/*margin: 0;*/
	/*padding: 0;*/
	/*vertical-align: baseline;*/
/*}*/

/*html {*/
		/*height: 100%;*/
/*}*/

/*body {*/
	/*border-top: 6px solid #3C3A3F;*/
	/*line-height: 20px;*/
	/*min-height: 100%;*/
	/*position: relative;*/
/*}*/

/*h1, h2, h3, h4, h5, h6 {*/
	/*clear: both;*/
	/*font-weight: normal;*/
/*}*/
/*ol, ul {*/
	/*list-style: none;*/
/*}*/
/*blockquote {*/
	/*quotes: none;*/
/*}*/
/*blockquote:before, blockquote:after {*/
	/*content: '';*/
	/*content: none;*/
/*}*/
/*del {*/
	/*text-decoration: line-through;*/
/*}*/
/*/!* tables still need 'cellspacing="0"' in the markup *!/*/
/*table {*/
	/*border-collapse: collapse;*/
	/*border-spacing: 0;*/
/*}*/
/*a img {*/
	/*border: none;*/
/*}*/

/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, font, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td {*/
	/*background: transparent;*/
	/*border: 0;*/
	/*margin: 0;*/
	/*padding: 0;*/
	/*vertical-align: baseline;*/
/*}*/

/*h1, h2, h3, h4, h5, h6 {*/
	/*clear: both;*/
	/*font-weight: normal;*/
/*}*/

/*/!* =Layout*/
/*-------------------------------------------------------------- *!/*/

/*/!**/
/*LAYOUT: Two columns*/
/*DESCRIPTION: Two-column fixed layout with one sidebar right of content*/
/**!/*/

/*#container {*/

/*}*/

/*#secondary {*/
	/*clear: right;*/
/*}*/
/*#footer {*/


/*}*/

/*/!**/
/*LAYOUT: One column, no sidebar*/
/*DESCRIPTION: One centered column with no sidebar*/
/**!/*/



/*/!**/
/*LAYOUT: Full width, no sidebar*/
/*DESCRIPTION: Full width content with no sidebar; used for attachment pages*/
/**!/*/

/*.single-attachment #content {*/
	/*margin: 0 auto;*/

/*}*/


/*/!* =Fonts*/
/*-------------------------------------------------------------- *!/*/
/*body,*/
/*input,*/
/*textarea,*/
/*.page-title span,*/
/*.pingback a.url {*/
	/*font-family: 'Verdana', sans-serif;*/
/*}*/

/*pre {*/
	/*font-family: "Courier 10 Pitch", Courier, monospace;*/
/*}*/
/*code {*/
	/*font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;*/
/*}*/


/*/!* =Structure*/
/*-------------------------------------------------------------- *!/*/

/*/!* The main theme structure *!/*/
/*#access .menu-header,*/
/*div.menu,*/
/*#colophon,*/
/*#main,*/
/*#wrapper {*/
	/*margin: 0 auto;*/

/*}*/

/*#branding {*/
	/*width: 226px;*/
	/*float: left;*/
/*}*/
/*#wrapper {*/
	/*background: #fff;*/
	/*padding: 0 20px;*/
/*}*/

/*/!* Structure the footer area *!/*/
/*#footer-widget-area {*/
	/*overflow: hidden;*/
/*}*/
/*#footer-widget-area .widget-area {*/
	/*float: left;*/
/*}*/
/*#footer-widget-area #fourth {*/
	/*margin-right: 0;*/
/*}*/


/*/!* =Global Elements*/
/*-------------------------------------------------------------- *!/*/

/*/!* Main global 'theme' and typographic styles *!/*/
/*body {*/
	/*background: #ffffff;*/
/*}*/

/*body,*/
/*input,*/
/*textarea {*/
	/*color: #666;*/
	/*font-size: 12px;*/
	/*line-height: 18px;*/
/*}*/
/*hr {*/
	/*background-color: #e7e7e7;*/
	/*border: 0;*/
	/*clear: both;*/
	/*height: 1px;*/
	/*margin-bottom: 18px;*/
/*}*/

/*/!* Text elements *!/*/
/*p {*/
	/*margin-bottom: 18px;*/
/*}*/
/*ol {*/
	/*list-style: decimal;*/
	/*margin: 0 0 18px 1.5em;*/
/*}*/
/*ol ol {*/
	/*list-style: upper-alpha;*/
/*}*/
/*ol ol ol {*/
	/*list-style: lower-roman;*/
/*}*/
/*ol ol ol ol {*/
	/*list-style: lower-alpha;*/
/*}*/
/*ul ul,*/
/*ol ol,*/
/*ul ol,*/
/*ol ul {*/
	/*margin-bottom: 0;*/
/*}*/
/*dl {*/
	/*margin: 0 0 24px 0;*/
/*}*/
/*dt {*/
	/*font-weight: bold;*/
/*}*/
/*dd {*/
	/*margin-bottom: 18px;*/
/*}*/
/*strong {*/
	/*font-weight: bold;*/
/*}*/
/*cite,*/
/*em,*/
/*i {*/
	/*font-style: italic;*/
/*}*/
/*big {*/
	/*font-size: 131.25%;*/
/*}*/
/*ins {*/
	/*background: #ffc;*/
	/*text-decoration: none;*/
/*}*/
/*blockquote {*/
	/*font-style: italic;*/
	/*padding: 0 3em;*/
/*}*/
/*blockquote cite,*/
/*blockquote em,*/
/*blockquote i {*/
	/*font-style: normal;*/
/*}*/
/*pre {*/
	/*background: #f7f7f7;*/
	/*color: #222;*/
	/*line-height: 18px;*/
	/*margin-bottom: 18px;*/
	/*overflow: auto;*/
	/*padding: 1.5em;*/
/*}*/
/*abbr,*/
/*acronym {*/
	/*border-bottom: 1px dotted #666;*/
	/*cursor: help;*/
/*}*/
/*sup,*/
/*sub {*/
	/*height: 0;*/
	/*line-height: 1;*/
	/*position: relative;*/
	/*vertical-align: baseline;*/
/*}*/
/*sup {*/
	/*bottom: 1ex;*/
/*}*/
/*sub {*/
	/*top: .5ex;*/
/*}*/
/*input[type="text"],*/
/*textarea {*/
	/*background: #f9f9f9;*/
	/*border: 1px solid #ccc;*/
	/*box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);*/
	/*-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);*/
	/*-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);*/
	/*padding: 2px;*/
/*}*/
/*a:link {*/
	/*color: #0066cc;*/
/*}*/
/*a:visited {*/
	/*color: #743399;*/
/*}*/
/*a:active,*/
/*a:hover {*/
	/*color: #57D1D6 !important;*/
/*}*/

/*/!* Text meant only for screen readers *!/*/
/*.screen-reader-text {*/
	/*position: absolute;*/
	/*left: -9000px;*/
/*}*/

/*.pad {*/
/*padding-bottom:20px;*/
/*}*/
/*/!* =Header*/
/*-------------------------------------------------------------- *!/*/

/*#site-title {*/
	/*float: left;*/
	/*font-size: 30px;*/
	/*line-height: 36px;*/
	/*margin: 0 0 18px 0;*/
	/*width: 700px;*/
/*}*/
/*#site-title a {*/
	/*color: #383838;*/
	/*font-weight: bold;*/
	/*text-decoration: none;*/
  /*font-family: 'PT Serif',serif;*/
/*}*/
/*#site-description {*/
	/*clear: right;*/
	/*float: right;*/
	/*font-style: italic;*/
	/*margin: 15px 0 18px 0;*/
	/*width: 220px;*/
/*}*/

/*/!* This is the custom header image *!/*/
/*#branding img {*/
	/*display: block;*/
	/*float: left;*/
/*}*/

/*.logosp {*/
 /*padding:0 10px;*/
/*}*/
/*/!* =Menu*/
/*-------------------------------------------------------------- *!/*/

/*#access {*/
	/*float: right;*/
    /*font-size: 13px;*/
    /*width: 340px;*/
/*}*/
/*#access .menu-header,*/
/*div.menu {*/
	/*font-size: 13px;*/
	/*width: 340px;*/
	/*float: right;*/
/*}*/
/*#access .menu-header ul,*/
/*div.menu ul {*/
	/*list-style: none;*/
	/*margin: 0;*/
/*}*/
/*#access .menu-header li,*/
/*div.menu li {*/
	/*float: left;*/
	/*position: relative;*/
/*}*/
 /*a {*/
	/*color: #555458 !important;*/
	/*display: block;*/
	/*line-height: 38px;*/
	/*padding: 0 10px;*/
	/*text-decoration: none;*/
	/*font-size: 13px !important;*/
/*}*/

/*#access a:hover {*/
	/*color: #57D1D6 !important;*/
/*}*/

/*#access .current-menu-item a {*/
	/*color: #57D1D6 !important;*/
/*}*/

/*#access ul ul {*/
	/*box-shadow: 0px 3px 3px rgba(0,0,0,0.2);*/
	/*-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);*/
	/*-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);*/
	/*display: none;*/
	/*position: absolute;*/
	/*top: 38px;*/
	/*left: 0;*/
	/*float: left;*/
	/*width: 180px;*/
	/*z-index: 99999;*/
/*}*/
/*#access ul ul li {*/
	/*min-width: 180px;*/
/*}*/
/*#access ul ul ul {*/
	/*left: 100%;*/
	/*top: 0;*/
/*}*/
/*#access ul ul a {*/
	/*background: #333;*/
	/*line-height: 1em;*/
	/*padding: 10px;*/
	/*width: 160px;*/
	/*height: auto;*/
/*}*/
/*#access li:hover > a,*/
/*#access ul ul :hover > a {*/
	/*color: #57D1D6 !important;*/
/*}*/
/*#access ul li:hover > ul {*/
	/*display: block;*/
/*}*/
/*#access ul li.current_page_item > a,*/
/*#access ul li.current-menu-ancestor > a,*/
/*#access ul li.current-menu-item > a,*/
/*#access ul li.current-menu-parent > a {*/
	/*color: #fff;*/
/*}*/
/** html #access ul li.current_page_item a,*/
/** html #access ul li.current-menu-ancestor a,*/
/** html #access ul li.current-menu-item a,*/
/** html #access ul li.current-menu-parent a,*/
/** html #access ul li a:hover {*/
	/*color: #fff;*/
/*}*/


/*/!* =Content*/
/*-------------------------------------------------------------- *!/*/

/*#main {*/
	/*clear: both;*/
	/*overflow: hidden;*/
	/*min-height: 600px;*/
/*}*/
/*#content {*/
	  /*margin-bottom: 36px;*/
    /*margin-left: 27px;*/
    /*margin-top: -40px;*/
/*}*/
/*#content,*/
/*#content input,*/
/*#content textarea {*/
	/*color: #333;*/
	/*font-size: 16px;*/
	/*line-height: 24px;*/
/*}*/
/*#content p,*/
/*#content ul,*/
/*#content ol,*/
/*#content dd,*/
/*#content pre,*/
/*#content hr {*/
	/*margin-bottom: 24px;*/
/*}*/
/*#content ul ul,*/
/*#content ol ol,*/
/*#content ul ol,*/
/*#content ol ul {*/
	/*margin-bottom: 0;*/
/*}*/
/*#content pre,*/
/*#content kbd,*/
/*#content tt,*/
/*#content var {*/
	/*font-size: 15px;*/
	/*line-height: 21px;*/
/*}*/
/*#content code {*/
	/*font-size: 13px;*/
/*}*/
/*#content dt,*/
/*#content th {*/
	/*color: #000;*/
/*}*/
/*#content h1,*/
/*#content h2,*/
/*#content h3,*/
/*#content h4,*/
/*#content h5,*/
/*#content h6 {*/
	/*color: #000;*/
	/*line-height: 1.5em;*/
	/*margin: 0 0 20px 0;*/
/*}*/
/*#content table {*/
	/*text-align: left;*/
	/*width: 100%;*/
/*}*/
/*#content tr th,*/
/*#content thead th {*/
	/*color: #888;*/
	/*font-size: 12px;*/
	/*font-weight: bold;*/
	/*line-height: 18px;*/
	/*padding: 9px 24px;*/
/*}*/
/*#content tr td {*/

	/*padding: 6px 24px;*/
/*}*/
/*#content tr.odd td {*/
	/*background: #f2f7fc;*/
/*}*/
/*.home .sticky {*/
	/*background: #f2f7fc;*/
	/*border-top: 4px solid #000;*/
	/*margin-left: -20px;*/
	/*margin-right: -20px;*/
	/*padding: 18px 20px;*/
/*}*/
/*.page-title {*/
	/*color: #000;*/
	/*font-size: 14px;*/
	/*font-weight: bold;*/
	/*margin: 0 0 36px 0;*/
/*}*/
/*.page-title span {*/
	/*color: #333;*/
	/*font-size: 16px;*/
	/*font-style: italic;*/
	/*font-weight: normal;*/
/*}*/
/*.page-title a:link,*/
/*.page-title a:visited {*/
	/*color: #888;*/
	/*text-decoration: none;*/
/*}*/
/*.page-title a:active,*/
/*.page-title a:hover {*/
	/*color: #ff4b33;*/
/*}*/

/*.entry-meta {*/
	/*display: none;*/
/*}*/
/*.entry-meta abbr,*/
/*.entry-utility abbr {*/
	/*border: none;*/
/*}*/
/*.entry-meta abbr:hover,*/
/*.entry-utility abbr:hover {*/
	/*border-bottom: 1px dotted #666;*/
/*}*/
/*.entry-content,*/
/*.entry-summary {*/
	/*clear: both;*/
	/*padding: 12px 0 0 0;*/
/*}*/
/*#content .entry-summary p:last-child {*/
	/*margin-bottom: 12px;*/
/*}*/
/*.entry-content fieldset {*/
	/*border: 1px solid #e7e7e7;*/
	/*margin: 0 0 24px 0;*/
	/*padding: 24px;*/
/*}*/
/*.entry-content fieldset legend {*/
	/*background: #fff;*/
	/*color: #000;*/
	/*font-weight: bold;*/
	/*padding: 0 24px;*/
/*}*/
/*.entry-content input {*/
	/*margin: 0 0 24px 0;*/
/*}*/
/*.entry-content input.file,*/
/*.entry-content input.button {*/
	/*margin-right: 24px;*/
/*}*/
/*.entry-content label {*/
	/*color: #888;*/
	/*font-size: 12px;*/
/*}*/
/*.entry-content select {*/
	/*margin: 0 0 24px 0;*/
/*}*/
/*.entry-content sup,*/
/*.entry-content sub {*/
	/*font-size: 10px;*/
/*}*/
/*.entry-content blockquote.left {*/
	/*float: left;*/
	/*margin-left: 0;*/
	/*margin-right: 24px;*/
	/*text-align: right;*/
	/*width: 33%;*/
/*}*/
/*.entry-content blockquote.right {*/
	/*float: right;*/
	/*margin-left: 24px;*/
	/*margin-right: 0;*/
	/*text-align: left;*/
	/*width: 33%;*/
/*}*/
/*.page-link {*/
	/*clear: both;*/
	/*color: #000;*/
	/*font-weight: bold;*/
	/*margin: 0 0 22px 0;*/
	/*word-spacing: 0.5em;*/
/*}*/
/*.page-link a:link,*/
/*.page-link a:visited {*/
	/*background: #f1f1f1;*/
	/*color: #333;*/
	/*font-weight: normal;*/
	/*padding: 0.5em 0.75em;*/
	/*text-decoration: none;*/
/*}*/
/*.home .sticky .page-link a {*/
	/*background: #d9e8f7;*/
/*}*/
/*.page-link a:active,*/
/*.page-link a:hover {*/
	/*color: #ff4b33;*/
/*}*/
/*body.page .edit-link {*/
	/*clear: both;*/
	/*display: block;*/
/*}*/
/*#entry-author-info {*/
	/*background: #f2f7fc;*/
	/*border-top: 4px solid #000;*/
	/*clear: both;*/
	/*font-size: 14px;*/
	/*line-height: 20px;*/
	/*margin: 24px 0;*/
	/*overflow: hidden;*/
	/*padding: 18px 20px;*/
/*}*/
/*#entry-author-info #author-avatar {*/
	/*background: #fff;*/
	/*border: 1px solid #e7e7e7;*/
	/*float: left;*/
	/*height: 60px;*/
	/*margin: 0 -104px 0 0;*/
	/*padding: 11px;*/
/*}*/
/*#entry-author-info #author-description {*/
	/*float: left;*/
	/*margin: 0 0 0 104px;*/
/*}*/
/*#entry-author-info h2 {*/
	/*color: #000;*/
	/*font-size: 100%;*/
	/*font-weight: bold;*/
	/*margin-bottom: 0;*/
/*}*/
/*.entry-utility {*/
	/*display: none;*/
/*}*/
/*.entry-meta a,*/
/*.entry-utility a {*/
	/*color: #888;*/
/*}*/
/*.entry-meta a:hover,*/
/*.entry-utility a:hover {*/
	/*color: #ff4b33;*/
/*}*/
/*#content .video-player {*/
	/*padding: 0;*/
/*}*/


/*/!* =Asides*/
/*-------------------------------------------------------------- *!/*/

/*.home #content .format-aside p,*/
/*.home #content .category-asides p {*/
	/*font-size: 14px;*/
	/*line-height: 20px;*/
	/*margin-bottom: 10px;*/
	/*margin-top: 0;*/
/*}*/
/*.home .hentry.format-aside,*/
/*.home .hentry.category-asides {*/
	/*padding: 0;*/
/*}*/
/*.home #content .format-aside .entry-content,*/
/*.home #content .category-asides .entry-content {*/
	/*padding-top: 0;*/
/*}*/


/*/!* =Gallery listing*/
/*-------------------------------------------------------------- *!/*/

/*.format-gallery .size-thumbnail img,*/
/*.category-gallery .size-thumbnail img {*/
	/*border: 10px solid #f1f1f1;*/
	/*margin-bottom: 0;*/
/*}*/
/*.format-gallery .gallery-thumb,*/
/*.category-gallery .gallery-thumb {*/
	/*float: left;*/
	/*margin-right: 20px;*/

/*}*/
/*.home #content .format-gallery .entry-utility,*/
/*.home #content .category-gallery .entry-utility {*/
	/*padding-top: 4px;*/
/*}*/


/*/!* =Attachment pages*/
/*-------------------------------------------------------------- *!/*/

/*.attachment .entry-content .entry-caption {*/
	/*font-size: 140%;*/
	/*margin-top: 24px;*/
/*}*/
/*.attachment .entry-content .nav-previous a:before {*/
	/*content: '\2190\00a0';*/
/*}*/
/*.attachment .entry-content .nav-next a:after {*/
	/*content: '\00a0\2192';*/
/*}*/


/*/!* =Images*/
/*-------------------------------------------------------------- *!/*/

/*/!**/
/*Resize images to fit the main content area.*/
/*- Applies only to images uploaded via WordPress by targeting size-* classes.*/
/*- Other images will be left alone. Use "size-auto" class to apply to other images.*/
/**!/*/
/*img.size-auto,*/
/*img.size-full,*/
/*img.size-large,*/
/*img.size-medium,*/
/*.attachment img {*/
	/*max-width: 100%; /!* When images are too wide for containing element, force them to fit. *!/*/
	/*/!*height: auto;  Override height to match resized width for correct aspect ratio. *!/*/
/*}*/
/*.alignleft,*/
/*img.alignleft {*/
	/*display: inline;*/
/*}*/
/*.alignright,*/
/*img.alignright {*/
	/*display: inline;*/
	/*float: right;*/
	/*margin-left: 24px;*/
	/*margin-top: 4px;*/
/*}*/
/*.aligncenter,*/
/*img.aligncenter {*/
	/*clear: both;*/
	/*display: block;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
/*}*/
/*img.alignleft,*/
/*img.alignright,*/
/*img.aligncenter {*/
	/*margin-bottom: 4px;*/
/*}*/
/*.wp-caption {*/
	/*background: #000;*/
	/*opacity: 0.5;*/
	/*line-height: 18px;*/
	/*margin-bottom: 20px;*/
	/*padding: 4px;*/
	/*text-align: center;*/
/*}*/
/*.wp-caption img {*/
	/*margin: 5px 5px 0;*/
/*}*/
/*.wp-caption p.wp-caption-text {*/
	/*color: #888;*/
	/*font-size: 12px;*/
	/*margin: 5px;*/
/*}*/
/*.wp-smiley {*/
	/*margin: 0;*/
/*}*/
/*.gallery {*/
	/*margin: 0 auto 18px;*/
/*}*/
/*.gallery .gallery-item {*/
	/*float: left;*/
	/*margin-top: 0;*/
	/*text-align: center;*/
/*}*/
/*.gallery-columns-2 .gallery-item {*/

/*}*/
/*.gallery-columns-4 .gallery-item {*/

/*}*/
/*.gallery img {*/
	/*border: 2px solid #cfcfcf;*/
/*}*/
/*.gallery-columns-2 .attachment-medium {*/

	/*height: auto;*/
/*}*/
/*.gallery-columns-4 .attachment-thumbnail {*/
	/*max-width: 100%;*/
	/*height: auto;*/
/*}*/
/*.gallery .gallery-caption {*/
	/*color: #888;*/
	/*font-size: 12px;*/
	/*margin: 0 0 12px;*/
/*}*/
/*.gallery dl {*/
	/*margin: 0;*/
/*}*/
/*.gallery img {*/
	/*border: 1px solid #f1f1f1;*/
/*}*/
/*.gallery br+br {*/
	/*display: none;*/
/*}*/
/*#content .attachment img {/!* single attachment images should be centered *!/*/
	/*display: block;*/
	/*margin: 0 auto;*/
/*}*/


/*/!* =Navigation*/
/*-------------------------------------------------------------- *!/*/

/*.navigation {*/
	/*color: #888;*/
	/*font-size: 12px;*/
	/*line-height: 18px;*/
	/*overflow: hidden;*/
/*}*/
/*.navigation a:link,*/
/*.navigation a:visited {*/
	/*color: #888;*/
	/*text-decoration: none;*/
	/*font-size: 10px !important;*/

/*}*/
/*.navigation a:active,*/
/*.navigation a:hover {*/
	/*color: #ff4b33;*/
/*}*/
/*.nav-previous {*/
	/*float: left;*/
	/*width: 100%;*/
/*}*/
/*.nav-next {*/
	/*float: right;*/
	/*text-align: right;*/
	/*width: 100%;*/
/*}*/
/*#nav-above {*/
	/*margin: 0 0 18px 0;*/
/*}*/
/*#nav-above {*/
	/*display: none;*/
/*}*/
/*.paged #nav-above,*/
/*.single #nav-above {*/
	/*display: block;*/
/*}*/
/*#nav-below {*/
	/*margin: -18px 0 0 0;*/

/*}*/


/*/!* =Comments*/
/*-------------------------------------------------------------- *!/*/
/*#comments {*/
	/*clear: both;*/
/*}*/
/*#comments .navigation {*/
	/*padding: 0 0 18px 0;*/
/*}*/
/*h3#comments-title,*/
/*h3#reply-title {*/
	/*color: #000;*/
	/*font-size: 20px;*/
	/*font-weight: bold;*/
	/*margin-bottom: 0;*/
/*}*/
/*h3#comments-title {*/
	/*padding: 24px 0;*/
/*}*/
/*.commentlist {*/
	/*list-style: none;*/
	/*margin: 0;*/
/*}*/
/*.commentlist li.comment {*/
	/*border-bottom: 1px solid #e7e7e7;*/
	/*line-height: 24px;*/
	/*margin: 0 0 24px 0;*/
	/*padding: 0 0 0 56px;*/
	/*position: relative;*/
/*}*/
/*.commentlist li:last-child {*/
	/*border-bottom: none;*/
	/*margin-bottom: 0;*/
/*}*/
/*#comments .comment-body ul,*/
/*#comments .comment-body ol {*/
	/*margin-bottom: 18px;*/
/*}*/
/*#comments .comment-body p:last-child {*/
	/*margin-bottom: 6px;*/
/*}*/
/*#comments .comment-body blockquote p:last-child {*/
	/*margin-bottom: 24px;*/
/*}*/
/*.commentlist ol {*/
	/*list-style: decimal;*/
/*}*/
/*.commentlist .avatar {*/
	/*position: absolute;*/
	/*top: 4px;*/
	/*left: 0;*/
/*}*/
/*.comment-author {*/
/*}*/
/*.comment-author cite {*/
	/*color: #000;*/
	/*font-style: normal;*/
	/*font-weight: bold;*/
/*}*/
/*.comment-author .says {*/
	/*font-style: italic;*/
/*}*/
/*.comment-meta {*/
	/*font-size: 12px;*/
	/*margin: 0 0 18px 0;*/
/*}*/
/*.comment-meta a:link,*/
/*.comment-meta a:visited {*/
	/*color: #888;*/
	/*text-decoration: none;*/
/*}*/
/*.comment-meta a:active,*/
/*.comment-meta a:hover {*/
	/*color: #ff4b33;*/
/*}*/
/*.commentlist .even {*/
/*}*/
/*.commentlist .bypostauthor {*/
/*}*/
/*.reply {*/
	/*font-size: 12px;*/
	/*padding: 0 0 24px 0;*/
/*}*/
/*.reply a,*/
/*a.comment-edit-link {*/
	/*color: #888;*/
/*}*/
/*.reply a:hover,*/
/*a.comment-edit-link:hover {*/
	/*color: #ff4b33;*/
/*}*/
/*.commentlist .children {*/
	/*list-style: none;*/
	/*margin: 0;*/
/*}*/
/*.commentlist .children li {*/
	/*border: none;*/
	/*margin: 0;*/
/*}*/
/*.nopassword,*/
/*.nocomments {*/
	/*display: none;*/
/*}*/
/*#comments .pingback {*/
	/*border-bottom: 1px solid #e7e7e7;*/
	/*margin-bottom: 18px;*/
	/*padding-bottom: 18px;*/
/*}*/
/*.commentlist li.comment+li.pingback {*/
	/*margin-top: -6px;*/
/*}*/
/*#comments .pingback p {*/
	/*color: #888;*/
	/*display: block;*/
	/*font-size: 12px;*/
	/*line-height: 18px;*/
	/*margin: 0;*/
/*}*/
/*#comments .pingback .url {*/
	/*font-size: 13px;*/
	/*font-style: italic;*/
/*}*/

/*/!* Comments form *!/*/
/*input[type=submit] {*/
	/*color: #333;*/
/*}*/
/*#respond {*/
	/*border-top: 1px solid #e7e7e7;*/
	/*margin: 24px 0;*/
	/*overflow: hidden;*/
	/*position: relative;*/
/*}*/
/*#respond p {*/
	/*margin: 0;*/
/*}*/
/*#respond .comment-notes {*/
	/*margin-bottom: 1em;*/
/*}*/
/*.form-allowed-tags {*/
	/*line-height: 1em;*/
/*}*/
/*.children #respond {*/
	/*margin: 0 48px 0 0;*/
/*}*/
/*h3#reply-title {*/
	/*margin: 18px 0;*/
/*}*/
/*#comments-list #respond {*/
	/*margin: 0 0 18px 0;*/
/*}*/
/*#comments-list ul #respond {*/
	/*margin: 0;*/
/*}*/
/*#cancel-comment-reply-link {*/
	/*font-size: 12px;*/
	/*font-weight: normal;*/
	/*line-height: 18px;*/
/*}*/
/*#respond .required {*/
	/*color: #ff4b33;*/
	/*font-weight: bold;*/
/*}*/
/*#respond label {*/
	/*color: #888;*/
	/*font-size: 12px;*/
/*}*/
/*#respond input {*/
	/*margin: 0 0 9px;*/
	/*width: 100%;*/
/*}*/
/*#respond textarea {*/
	/*width: 100%;*/
/*}*/
/*#respond .form-allowed-tags {*/
	/*color: #888;*/
	/*font-size: 12px;*/
	/*line-height: 18px;*/
/*}*/
/*#respond .form-allowed-tags code {*/
	/*font-size: 11px;*/
/*}*/
/*#respond .form-submit {*/
	/*margin: 12px 0;*/
/*}*/
/*#respond .form-submit input {*/
	/*font-size: 14px;*/
	/*width: auto;*/
/*}*/


/*/!* =Widget Areas*/
/*-------------------------------------------------------------- *!/*/

/*.widget-area ul {*/
	/*list-style: none;*/
	/*margin-left: 0;*/
/*}*/
/*.widget-area ul ul {*/
	/*margin-left: 1.3em;*/
/*}*/
/*.widget-area select {*/
	/*max-width: 100%;*/
/*}*/
/*.widget_search #s {/!* This keeps the search inputs in line *!/*/
	/*width: 100%;*/
/*}*/
/*.widget_search label {*/
	/*display: none;*/
/*}*/
/*.widget-container {*/
	/*margin: 0 0 18px 0;*/
/*}*/
/*.widget-title {*/
	/*color: #222;*/
	/*font-weight: bold;*/
/*}*/
/*.widget-area a:link,*/
/*.widget-area a:visited {*/
	/*text-decoration: none;*/
/*}*/
/*.widget-area a:active,*/
/*.widget-area a:hover {*/
	/*text-decoration: underline;*/
/*}*/
/*.widget-area .entry-meta {*/
	/*font-size: 11px;*/
/*}*/
/*#wp_tag_cloud div {*/
	/*line-height: 1.6em;*/
/*}*/
/*#wp-calendar {*/
	/*width: 100%;*/
/*}*/
/*#wp-calendar caption {*/
	/*color: #222;*/
	/*font-size: 14px;*/
	/*font-weight: bold;*/
	/*padding-bottom: 4px;*/
	/*text-align: left;*/
/*}*/
/*#wp-calendar thead {*/
	/*font-size: 11px;*/
/*}*/
/*#wp-calendar thead th {*/
/*}*/
/*#wp-calendar tbody {*/
	/*color: #aaa;*/
/*}*/
/*#wp-calendar tbody td {*/
	/*background: #f5f5f5;*/
	/*border: 1px solid #fff;*/
	/*padding: 3px 0 2px;*/
	/*text-align: center;*/
/*}*/
/*#wp-calendar tbody .pad {*/
	/*background: none;*/
/*}*/
/*#wp-calendar tfoot #next {*/
	/*text-align: right;*/
/*}*/
/*.widget_rss a.rsswidget {*/
	/*color: #000;*/
/*}*/
/*.widget_rss a.rsswidget:hover {*/
	/*color: #ff4b33;*/
/*}*/
/*.widget_rss .widget-title img {*/
	/*width: 11px;*/
	/*height: 11px;*/
/*}*/

/*/!* Main sidebars *!/*/
/*#main .widget-area ul {*/
	/*margin-left: 0;*/
	/*padding: 0 20px 0 0;*/
/*}*/
/*#main .widget-area ul ul {*/
	/*border: none;*/
	/*margin-left: 1.3em;*/
	/*padding: 0;*/
/*}*/

/*/!* Footer widget areas *!/*/
/*#footer-widget-area {*/
	/*height: 50px;*/
/*}*/


/*/!* =Footer*/
/*-------------------------------------------------------------- *!/*/

/*#footer {*/
	/*background-color: #3C3A3F;*/
	/*height: 50px;*/
/*}*/

/*#footer a {*/
	/*color: #fff;*/
/*}*/

/*img#wpstats {*/
	/*display: block;*/
	/*margin: 0 auto 10px;*/
/*}*/


/*/!* =Mobile Safari ( iPad, iPhone and iPod Touch )*/
/*-------------------------------------------------------------- *!/*/

/*pre {*/
	/*-webkit-text-size-adjust: 140%;*/
/*}*/
/*code {*/
	/*-webkit-text-size-adjust: 160%;*/
/*}*/
/*#access,*/
/*.entry-meta,*/
/*.entry-utility,*/
/*.navigation,*/
/*.widget-area {*/
	/*-webkit-text-size-adjust: 120%;*/
/*}*/
/*#site-description {*/
	/*-webkit-text-size-adjust: none;*/
/*}*/


/*/!* =Print Style*/
/*-------------------------------------------------------------- *!/*/

/*@media print {*/
	/*body {*/
		/*background: none !important;*/
	/*}*/
	/*#wrapper {*/
		/*clear: both !important;*/
		/*display: block !important;*/
		/*float: none !important;*/
		/*position: relative !important;*/
	/*}*/
	/*#header {*/
		/*border-bottom: 2pt solid #000;*/
		/*padding-bottom: 18pt;*/
	/*}*/
	/*#colophon {*/
		/*padding: 0;*/
	/*}*/
	/*#site-title,*/
	/*#site-description {*/
		/*float: none;*/
		/*line-height: 1.4em;*/
		/*margin: 0;*/
		/*padding: 0;*/
	/*}*/
	/*#site-title {*/
		/*font-size: 13pt;*/
	/*}*/
	/*.entry-content {*/
		/*font-size: 14pt;*/
		/*line-height: 1.6em;*/
	/*}*/
	/*.entry-title {*/
		/*font-size: 21pt;*/
	/*}*/
	/*#access,*/
	/*#branding img,*/
	/*#respond,*/
	/*.comment-edit-link,*/
	/*.edit-link,*/
	/*.navigation,*/
	/*.page-link,*/
	/*.widget-area {*/
		/*display: none !important;*/
	/*}*/
	/*#container,*/
	/*#header,*/
	/*#footer {*/
		/*margin: 0;*/
		/*width: 100%;*/
	/*}*/
	/*#content,*/
	/*.one-column #content {*/
		/*margin: 24pt 0 0;*/
		/*width: 100%;*/
	/*}*/
	/*.wp-caption p {*/
		/*font-size: 11pt;*/
	/*}*/
	/*#site-info,*/
	/*#site-generator {*/
		/*float: none;*/
		/*width: auto;*/
	/*}*/
	/*#colophon {*/
		/*width: auto;*/
	/*}*/
	/*img#wpstats {*/
		/*display: none;*/
	/*}*/
	/*#site-generator a {*/
		/*margin: 0;*/
		/*padding: 0;*/
	/*}*/
	/*#entry-author-info {*/
		/*border: 1px solid #e7e7e7;*/
	/*}*/
	/*#main {*/
		/*display: inline;*/
	/*}*/
	/*.home .sticky {*/
		/*border: none;*/
	/*}*/
/*}*/

/*.slinks {*/
	/*float: right;*/
	/*width: 170px;*/
/*}*/


/*.slinks li {*/
    /*float: left;*/
/*}*/

/*.slinks li a {*/
	/*font-size: 13px;*/
/*}*/

/*#qtranslate-2 li {*/
	/*float: left;*/
/*}*/

/*#f_logo {*/
	 /*margin: 12px 0 0 20px;*/
    /*width: 220px;*/
    /*float: left;*/
/*}*/

/*#ff_logo {*/
	 /*margin: 21px 171px 0 22px;*/
   /*width: 57px;*/
   /*float: left;*/
/*}*/

/*#text-2 a {*/
	/*margin: -13px 0 0 -8px;*/
/*}*/


/*#text-2 a,*/
/*#text-2 span {*/
	/*font-size: 11px !important;*/
/*}*/

/*#footer .slinks {*/
	/*margin: -40px 30px 0 0;*/
/*}*/

/*#footer .slinks a {*/
	/*color: #fff !important;*/
	/*font-size: 10px;*/
	/*font-weight: bold !important;*/
/*}*/

/*#footer .slinks a:hover,*/
/*#qtranslate-2 .active a span {*/
	/*color: #57D1D6  !important;*/
	/*font-weight: bold;*/
/*}*/

/*#post-1 h2 a,*/
/*#post-48 h2 a {*/
	/*display: none !important;*/
/*}*/

/**:first-child+html #post-48 {*/
	/*margin-top: -90px !important;*/
/*}*/

/*/!**/
/*LAYOUT: Two columns*/
/*DESCRIPTION: Two-column fixed layout with one sidebar right of content*/
/**!/*/

/*#container {*/

	/*position: relative;*/
	/*overflow: visible;*/
/*}*/


/*#secondary {*/
	/*clear: right;*/
/*}*/
/*#footer {*/
	/*clear: both;*/
	/*width: 100%;*/
	/*position: absolute;*/
  	/*bottom: 0;*/
/*}*/

/*/!**/
/*LAYOUT: One column, no sidebar*/
/*DESCRIPTION: One centered column with no sidebar*/
/**!/*/

/*.one-column #content {*/

/*}*/

/*/!**/
/*LAYOUT: Full width, no sidebar*/
/*DESCRIPTION: Full width content with no sidebar; used for attachment pages*/
/**!/*/

/*.single-attachment #content {*/
	/*margin: 0 auto;*/
	/*width: 900px;*/
/*}*/


/*/!* =Fonts*/
/*-------------------------------------------------------------- *!/*/
/*body,*/
/*input,*/
/*textarea,*/
/*.page-title span,*/
/*.pingback a.url {*/
	/*font-family: 'Verdana', sans-serif;*/
/*}*/

/*/!* =Structure*/
/*-------------------------------------------------------------- *!/*/

/*/!* The main theme structure *!/*/
/*#access .menu-header,*/
/*div.menu,*/
/*#colophon,*/
/*#main,*/
/*#wrapper {*/
	/*margin: 0 auto;*/
	/*width: 970px;*/
/*}*/

/*#branding {*/
	/*width: 226px;*/
	/*float: left;*/
    /*margin-left: -15px;*/
/*}*/
/*#wrapper {*/
	/*background: #fff;*/
	/*padding: 50px 0 20px;*/
	/*margin-top: 30px;*/
/*}*/

/*.archive #wrapper {*/
	/*margin-top: 90px;*/
/*}*/

/*#first {*/
	/*margin: 20px 0 0 -30px;*/
/*}*/

/*/!* Structure the footer area *!/*/

/*#footer-widget-area .widget-area {*/
	/*float: left;*/
/*}*/
/*#footer-widget-area #fourth {*/
	/*margin-right: 0;*/
/*}*/


/*/!* =Global Elements*/
/*-------------------------------------------------------------- *!/*/

/*/!* Main global 'theme' and typographic styles *!/*/
/*body {*/
	/*background: #fff;*/
/*}*/
/*body,*/
/*input,*/
/*textarea {*/
	/*color: #666;*/
	/*font-size: 12px;*/
	/*line-height: 18px;*/
/*}*/
/*hr {*/
	/*background-color: #e7e7e7;*/
	/*border: 0;*/
	/*clear: both;*/
	/*height: 1px;*/
	/*margin-bottom: 18px;*/
/*}*/

/*/!* Text elements *!/*/
/*p {*/
	/*margin-bottom: 18px;*/
/*}*/

/*ol {*/
	/*list-style: decimal;*/
	/*margin: 0 0 18px 1.5em;*/
/*}*/
/*ol ol {*/
	/*list-style: upper-alpha;*/
/*}*/
/*ol ol ol {*/
	/*list-style: lower-roman;*/
/*}*/
/*ol ol ol ol {*/
	/*list-style: lower-alpha;*/
/*}*/
/*ul ul,*/
/*ol ol,*/
/*ul ol,*/
/*ol ul {*/
	/*margin-bottom: 0;*/
/*}*/
/*dl {*/
	/*margin: 0 0 24px 0;*/
/*}*/
/*dt {*/
	/*font-weight: bold;*/
/*}*/
/*dd {*/
	/*margin-bottom: 18px;*/
/*}*/
/*strong {*/
	/*font-weight: bold;*/
/*}*/
/*cite,*/
/*em,*/
/*i {*/
	/*font-style: italic;*/
/*}*/
/*big {*/
	/*font-size: 131.25%;*/
/*}*/
/*ins {*/
	/*background: #ffc;*/
	/*text-decoration: none;*/
/*}*/
/*blockquote {*/
	/*font-style: italic;*/
	/*padding: 0 3em;*/
/*}*/
/*blockquote cite,*/
/*blockquote em,*/
/*blockquote i {*/
	/*font-style: normal;*/
/*}*/
/*pre {*/
	/*background: #f7f7f7;*/
	/*color: #222;*/
	/*line-height: 18px;*/
	/*margin-bottom: 18px;*/
	/*overflow: auto;*/
	/*padding: 1.5em;*/
/*}*/
/*abbr,*/
/*acronym {*/
	/*border-bottom: 1px dotted #666;*/
	/*cursor: help;*/
/*}*/
/*sup,*/
/*sub {*/
	/*height: 0;*/
	/*line-height: 1;*/
	/*position: relative;*/
	/*vertical-align: baseline;*/
/*}*/
/*sup {*/
	/*bottom: 1ex;*/
/*}*/
/*sub {*/
	/*top: .5ex;*/
/*}*/
/*input[type="text"],*/
/*textarea {*/
	/*background: #f9f9f9;*/
	/*border: 1px solid #ccc;*/
	/*box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);*/
	/*-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);*/
	/*-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);*/
	/*padding: 2px;*/
/*}*/
/*a:link {*/
	/*color: #0066cc;*/
/*}*/
/*a:visited {*/
	/*color: #743399;*/
/*}*/
/*a:active,*/
/*a:hover {*/
	/*color: #57D1D6 !important;*/
/*}*/

/*/!* Text meant only for screen readers *!/*/
/*.screen-reader-text {*/
	/*position: absolute;*/
	/*left: -9000px;*/
/*}*/

/*/!* =Menu*/
/*-------------------------------------------------------------- *!/*/

/*#access {*/
	/*float: right;*/
    /*font-size: 13px;*/
    /*width: 340px;*/
    /*margin-left: 214px !important;*/
/*}*/
/*#access .menu-header,*/
/*div.menu {*/
	/*font-size: 13px;*/
	/*width: 326px;*/
/*}*/
/*#access .menu-header ul,*/
/*div.menu ul {*/
	/*list-style: none;*/
	/*margin: 0;*/
/*}*/
/*#access .menu-header li,*/
/*div.menu li {*/
	/*float: left;*/
	/*position: relative;*/
/*}*/
 /*a {*/
	/*color: #555458 !important;*/
	/*display: block;*/
	/*line-height: 38px;*/
	/*padding: 0 10px;*/
	/*text-decoration: none;*/
/*}*/

/*#access a:hover {*/
	/*color: #57D1D6 !important;*/
/*}*/

/*#access .current-menu-item a {*/
	/*color: #57D1D6 !important;*/
/*}*/

/*.entry-summary a*/
/*.entry-summary a:hover {*/
	/*font-size: 10px;*/
/*}*/

/*#access ul ul {*/
	/*box-shadow: 0px 3px 3px rgba(0,0,0,0.2);*/
	/*-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);*/
	/*-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);*/
	/*display: none;*/
	/*position: absolute;*/
	/*top: 38px;*/
	/*left: 0;*/
	/*float: left;*/
	/*width: 180px;*/
	/*z-index: 99999;*/
/*}*/
/*#access ul ul li {*/
	/*min-width: 180px;*/
/*}*/
/*#access ul ul ul {*/
	/*left: 100%;*/
	/*top: 0;*/
/*}*/
/*#access ul ul a {*/
	/*background: #333;*/
	/*line-height: 1em;*/
	/*padding: 10px;*/
	/*width: 160px;*/
	/*height: auto;*/
/*}*/
/*#access li:hover > a,*/
/*#access ul ul :hover > a {*/
	/*color: #57D1D6 !important;*/
/*}*/
/*#access ul li:hover > ul {*/
	/*display: block;*/
/*}*/
/*#access ul li.current_page_item > a,*/
/*#access ul li.current-menu-ancestor > a,*/
/*#access ul li.current-menu-item > a,*/
/*#access ul li.current-menu-parent > a {*/
	/*color: #fff;*/
/*}*/
/** html #access ul li.current_page_item a,*/
/** html #access ul li.current-menu-ancestor a,*/
/** html #access ul li.current-menu-item a,*/
/** html #access ul li.current-menu-parent a,*/
/** html #access ul li a:hover {*/
	/*color: #fff;*/
/*}*/


/*/!* =Content*/
/*-------------------------------------------------------------- *!/*/

/*.archive #main {*/
    /*margin-left: -8px;*/
    /*margin-top: -120px !important;*/

/*}*/

/**:first-child+html .archive #main {*/
    /*margin-top: -70px !important;*/
/*}*/

/**:first-child+html #nav_menu-4 {*/
    /*margin-top: -10px !important;*/
/*}*/

/*#main {*/
	/*clear: both;*/
	/*overflow: visible;*/
	/*min-height: 600px;*/
	/*margin-top: -80px;*/
/*}*/
/*#content {*/
	/*margin-bottom: 36px;*/
    /*margin-left: -2px;*/
/*}*/

/*#primary p {*/
	/*font-size: 12px;*/
	/*color: #383838;*/
	/*width: 200px;*/
  /*font-family: 'PT Serif',serif;*/
/*}*/

/*.page-template-default #content,*/
/*.single-post #content {*/
/*/!*    width: 560px;  *!/*/
    /*/!*margin-top: -43px;  *!/*/
    /*float: right;*/
/*}*/

/*.single-post #content {*/
	/*margin-top: 30px;*/
/*/!*    width: 580px;*!/*/
    /*float: right !important;*/
/*}*/

/*.single-post #content .post {*/
    /*float: right !important;*/
    /*/!*width: 688px !important;*!/*/
/*}*/

/**:first-child+html .single-post #content {*/
    /*margin-top: -18px !important;*/
    /*width: 100% !important;*/
/*}*/

/*.single-post #content p,*/
/*/!*.single-post #content #nav-below,*!/*/
/*.single-post #content .entry-title  {*/
	/*/!*width: 488px !important;*!/*/
  /*float: right;*/
/*}*/



/*#content,*/
/*#content input,*/
/*#content textarea {*/
	/*color: #333;*/
	/*font-size: 16px;*/
	/*line-height: 24px;*/
/*}*/
/*#content p,*/
/*#content ul,*/
/*#content ol,*/
/*#content dd,*/
/*#content pre,*/
/*#content hr {*/
	/*margin-bottom: 24px;*/
/*}*/

/*#content p {*/
	/*font-size: 11px;*/
    /*line-height: 17px;*/
    /*margin-bottom: 14px;*/
/*}*/

/*#content ul ul,*/
/*#content ol ol,*/
/*#content ul ol,*/
/*#content ol ul {*/
	/*margin-bottom: 0;*/
/*}*/
/*#content pre,*/
/*#content kbd,*/
/*#content tt,*/
/*#content var {*/
	/*font-size: 15px;*/
	/*line-height: 21px;*/
/*}*/
/*#content code {*/
	/*font-size: 13px;*/
/*}*/
/*#content dt,*/
/*#content th {*/
	/*color: #000;*/
/*}*/
/*#content h1,*/
/*#content h2,*/
/*#content h3,*/
/*#content h4,*/
/*#content h5,*/
/*#content h6 {*/
	/*color: #333;*/
	/*line-height: 20px;*/
	/*margin: 0 0 20px 0;*/
/*}*/

/*#content h2 {*/
	/*font-size: 32px;*/
  /*line-height: 1;*/
  /*font-family: 'PT Serif',serif;*/
  /*font-style: italic;*/
  /*color:#383838;*/
/*}*/
/*#content table {*/
	/*text-align: left;*/
	/*width: 957px;*/
/*}*/
/*#content tr th,*/
/*#content thead th {*/
	/*color: #888;*/
	/*font-size: 10px;*/
	/*font-weight: bold;*/
	/*line-height: 18px;*/
	/*padding: 9px 24px;*/
/*}*/
/*#content tr td {*/
	/*font-size: 11px;*/
    /*line-height: 19px;*/
    /*padding: 6px 24px;*/
    /*vertical-align: top;*/
/*}*/

/*.hentry {*/
	/*margin: 0 0 48px 0;*/
/*}*/
/*.home .sticky {*/
	/*background: #f2f7fc;*/
	/*border-top: 4px solid #000;*/
	/*margin-left: -20px;*/
	/*margin-right: -20px;*/
	/*padding: 18px 20px;*/
/*}*/
/*.single .hentry {*/
	/*margin: 0 0 36px 0;*/
/*}*/
/*.page-title {*/
	/*color: #000;*/
	/*font-size: 14px;*/
	/*font-weight: bold;*/
	/*margin: 0 0 36px 0;*/
/*}*/
/*.page-title span {*/
	/*color: #333;*/
	/*font-size: 16px;*/
	/*font-style: italic;*/
	/*font-weight: normal;*/
/*}*/
/*.page-title a:link,*/
/*.page-title a:visited {*/
	/*color: #888;*/
	/*text-decoration: none;*/
/*}*/
/*.page-title a:active,*/
/*.page-title a:hover {*/
	/*color: #ff4b33;*/
/*}*/
/*#content .entry-title {*/
	/*color: #383838;*/
	/*font-size: 21px;*/
	/*font-weight: normal;*/
	/*line-height: 1.3em;*/
	/*margin-bottom: 0;*/
  /*font-family: 'PT Serif',serif;*/
  /*font-style: italic;*/

/*}*/
/*.entry-title a:link,*/
/*.entry-title a:visited {*/
	/*color: #383838;*/
	/*text-decoration: none;*/
  /*font-family: 'PT Serif',serif;*/
/*}*/
/*.entry-title a:active,*/
/*.entry-title a:hover {*/
	/*color: #ff4b33;*/
  /*font-family: 'PT Serif',serif;*/
/*}*/
/*.entry-meta {*/
	/*display: none;*/
/*}*/
/*.entry-meta abbr,*/
/*.entry-utility abbr {*/
	/*border: none;*/
/*}*/
/*.entry-meta abbr:hover,*/
/*.entry-utility abbr:hover {*/
	/*border-bottom: 1px dotted #666;*/
/*}*/
/*.single .entry-content,*/
/*.single .entry-summary {*/
	/*clear: both;*/
    /*float: right !important;*/
/*}*/
/*#content .entry-summary p:last-child {*/
	/*margin-bottom: 12px;*/
/*}*/
/*.entry-content fieldset {*/
	/*border: 1px solid #e7e7e7;*/
	/*margin: 0 0 24px 0;*/
	/*padding: 24px;*/
/*}*/
/*.entry-content fieldset legend {*/
	/*background: #fff;*/
	/*color: #000;*/
	/*font-weight: bold;*/
	/*padding: 0 24px;*/
/*}*/
/*.entry-content input {*/
	/*margin: 0 0 24px 0;*/
/*}*/
/*.entry-content input.file,*/
/*.entry-content input.button {*/
	/*margin-right: 24px;*/
/*}*/
/*.entry-content label {*/
	/*color: #888;*/
	/*font-size: 12px;*/
/*}*/
/*.entry-content select {*/
	/*margin: 0 0 24px 0;*/
/*}*/
/*.entry-content sup,*/
/*.entry-content sub {*/
	/*font-size: 10px;*/
/*}*/
/*.entry-content blockquote.left {*/
	/*float: left;*/
	/*margin-left: 0;*/
	/*margin-right: 24px;*/
	/*text-align: right;*/
	/*width: 33%;*/
/*}*/
/*.entry-content blockquote.right {*/
	/*float: right;*/
	/*margin-left: 24px;*/
	/*margin-right: 0;*/
	/*text-align: left;*/
	/*width: 33%;*/
/*}*/
/*.page-link {*/
	/*clear: both;*/
	/*color: #000;*/
	/*font-weight: bold;*/
	/*margin: 0 0 22px 0;*/
	/*word-spacing: 0.5em;*/
/*}*/
/*.page-link a:link,*/
/*.page-link a:visited {*/
	/*background: #f1f1f1;*/
	/*color: #333;*/
	/*font-weight: normal;*/
	/*padding: 0.5em 0.75em;*/
	/*text-decoration: none;*/
/*}*/
/*.home .sticky .page-link a {*/
	/*background: #d9e8f7;*/
/*}*/
/*.page-link a:active,*/
/*.page-link a:hover {*/
	/*color: #ff4b33;*/
/*}*/
/*body.page .edit-link {*/
	/*clear: both;*/
	/*display: none;*/
/*}*/
/*#entry-author-info {*/
	/*background: #f2f7fc;*/
	/*border-top: 4px solid #000;*/
	/*clear: both;*/
	/*font-size: 14px;*/
	/*line-height: 20px;*/
	/*margin: 24px 0;*/
	/*overflow: hidden;*/
	/*padding: 18px 20px;*/
/*}*/
/*#entry-author-info #author-avatar {*/
	/*background: #fff;*/
	/*border: 1px solid #e7e7e7;*/
	/*float: left;*/
	/*height: 60px;*/
	/*margin: 0 -104px 0 0;*/
	/*padding: 11px;*/
/*}*/
/*#entry-author-info #author-description {*/
	/*float: left;*/
	/*margin: 0 0 0 104px;*/
/*}*/
/*#entry-author-info h2 {*/
	/*color: #000;*/
	/*font-size: 100%;*/
	/*font-weight: bold;*/
	/*margin-bottom: 0;*/
/*}*/
/*.entry-utility {*/
	/*display: none;*/
/*}*/
/*.entry-meta a,*/
/*.entry-utility a {*/
	/*color: #888;*/
/*}*/
/*.entry-meta a:hover,*/
/*.entry-utility a:hover {*/
	/*color: #ff4b33;*/
/*}*/
/*#content .video-player {*/
	/*padding: 0;*/
/*}*/


/*/!* =Asides*/
/*-------------------------------------------------------------- *!/*/

/*.home #content .format-aside p,*/
/*.home #content .category-asides p {*/
	/*font-size: 14px;*/
	/*line-height: 20px;*/
	/*margin-bottom: 10px;*/
	/*margin-top: 0;*/
/*}*/
/*.home .hentry.format-aside,*/
/*.home .hentry.category-asides {*/
	/*padding: 0;*/
/*}*/
/*.home #content .format-aside .entry-content,*/
/*.home #content .category-asides .entry-content {*/
	/*padding-top: 0;*/
/*}*/


/*/!* =Gallery listing*/
/*-------------------------------------------------------------- *!/*/

/*.format-gallery .size-thumbnail img,*/
/*.category-gallery .size-thumbnail img {*/
	/*border: 10px solid #f1f1f1;*/
	/*margin-bottom: 0;*/
/*}*/
/*.format-gallery .gallery-thumb,*/
/*.category-gallery .gallery-thumb {*/
	/*float: left;*/
	/*margin-right: 20px;*/
	/*margin-top: -4px;*/
/*}*/
/*.home #content .format-gallery .entry-utility,*/
/*.home #content .category-gallery .entry-utility {*/
	/*padding-top: 4px;*/
/*}*/


/*/!* =Attachment pages*/
/*-------------------------------------------------------------- *!/*/

/*.attachment .entry-content .entry-caption {*/
	/*font-size: 140%;*/
	/*margin-top: 24px;*/
/*}*/
/*.attachment .entry-content .nav-previous a:before {*/
	/*content: '\2190\00a0';*/
/*}*/
/*.attachment .entry-content .nav-next a:after {*/
	/*content: '\00a0\2192';*/
/*}*/


/*/!* =Images*/
/*-------------------------------------------------------------- *!/*/

/*/!**/
/*Resize images to fit the main content area.*/
/*- Applies only to images uploaded via WordPress by targeting size-* classes.*/
/*- Other images will be left alone. Use "size-auto" class to apply to other images.*/
/**!/*/
/*img.size-auto,*/
/*img.size-full,*/
/*img.size-large,*/
/*img.size-medium,*/
/*.attachment img {*/
	/*max-width: 100%; /!* When images are too wide for containing element, force them to fit. *!/*/
    /*margin: 5px 0;*/
/*}*/
/*.alignleft,*/
/*img.alignleft {*/
	/*display: inline;*/
	/*margin-right: 10px;*/
    /*width: 224px;*/
/*}*/
/*.alignright,*/
/*img.alignright {*/
	/*display: inline;*/
	/*float: right;*/
	/*margin-left: 24px;*/
	/*margin-top: 4px;*/
/*}*/
/*.aligncenter,*/
/*img.aligncenter {*/
	/*clear: both;*/
	/*display: block;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
/*}*/
/*img.alignleft,*/
/*img.alignright,*/
/*img.aligncenter {*/
	/*margin-bottom: 4px;*/
/*}*/
/*.wp-caption {*/
	/*background: #f1f1f1;*/
	/*line-height: 18px;*/
	/*margin-bottom: 20px;*/
	/*max-width: 632px !important; /!* prevent too-wide images from breaking layout *!/*/
	/*padding: 4px;*/
	/*text-align: center;*/
/*}*/
/*.wp-caption img {*/
	/*margin: 5px 5px 0;*/
/*}*/
/*.wp-caption p.wp-caption-text {*/
	/*color: #888;*/
	/*font-size: 12px;*/
	/*margin: 5px;*/
/*}*/
/*.wp-smiley {*/
	/*margin: 0;*/
/*}*/
/*.gallery {*/
	/*margin: 0 auto 18px;*/
/*}*/
/*.gallery .gallery-item {*/
	/*float: left;*/
	/*margin-top: 0;*/
	/*text-align: center;*/
	/*width: 33%;*/
/*}*/
/*.gallery-columns-2 .gallery-item {*/
	/*width: 100%;*/
/*}*/
/*.gallery-columns-4 .gallery-item {*/
	/*width: 25%;*/
/*}*/
/*.gallery img {*/
	/*border: 2px solid #cfcfcf;*/
/*}*/
/*.gallery-columns-2 .attachment-medium {*/
	/*max-width: 100%;*/
	/*height: auto;*/
/*}*/
/*.gallery-columns-4 .attachment-thumbnail {*/
	/*max-width: 100%;*/
	/*height: auto;*/
/*}*/
/*.gallery .gallery-caption {*/
	/*color: #888;*/
	/*font-size: 12px;*/
	/*margin: 0 0 12px;*/
/*}*/
/*.gallery dl {*/
	/*margin: 0;*/
/*}*/
/*.gallery img {*/
	/*border: 1px solid #f1f1f1;*/
/*}*/
/*.gallery br+br {*/
	/*display: none;*/
/*}*/
/*#content .attachment img {/!* single attachment images should be centered *!/*/
	/*display: block;*/
	/*margin: 0 auto;*/
/*}*/

/*/!* =Comments*/
/*-------------------------------------------------------------- *!/*/
/*#comments {*/
	/*clear: both;*/
/*}*/
/*#comments .navigation {*/
	/*padding: 0 0 18px 0;*/
/*}*/
/*h3#comments-title,*/
/*h3#reply-title {*/
	/*color: #000;*/
	/*font-size: 20px;*/
	/*font-weight: bold;*/
	/*margin-bottom: 0;*/
/*}*/
/*h3#comments-title {*/
	/*padding: 24px 0;*/
/*}*/
/*.commentlist {*/
	/*list-style: none;*/
	/*margin: 0;*/
/*}*/
/*.commentlist li.comment {*/
	/*border-bottom: 1px solid #e7e7e7;*/
	/*line-height: 24px;*/
	/*margin: 0 0 24px 0;*/
	/*padding: 0 0 0 56px;*/
	/*position: relative;*/
/*}*/
/*.commentlist li:last-child {*/
	/*border-bottom: none;*/
	/*margin-bottom: 0;*/
/*}*/
/*#comments .comment-body ul,*/
/*#comments .comment-body ol {*/
	/*margin-bottom: 18px;*/
/*}*/
/*#comments .comment-body p:last-child {*/
	/*margin-bottom: 6px;*/
/*}*/
/*#comments .comment-body blockquote p:last-child {*/
	/*margin-bottom: 24px;*/
/*}*/
/*.commentlist ol {*/
	/*list-style: decimal;*/
/*}*/
/*.commentlist .avatar {*/
	/*position: absolute;*/
	/*top: 4px;*/
	/*left: 0;*/
/*}*/
/*.comment-author {*/
/*}*/
/*.comment-author cite {*/
	/*color: #000;*/
	/*font-style: normal;*/
	/*font-weight: bold;*/
/*}*/
/*.comment-author .says {*/
	/*font-style: italic;*/
/*}*/
/*.comment-meta {*/
	/*font-size: 12px;*/
	/*margin: 0 0 18px 0;*/
/*}*/
/*.comment-meta a:link,*/
/*.comment-meta a:visited {*/
	/*color: #888;*/
	/*text-decoration: none;*/
/*}*/
/*.comment-meta a:active,*/
/*.comment-meta a:hover {*/
	/*color: #ff4b33;*/
/*}*/
/*.commentlist .even {*/
/*}*/
/*.commentlist .bypostauthor {*/
/*}*/
/*.reply {*/
	/*font-size: 12px;*/
	/*padding: 0 0 24px 0;*/
/*}*/
/*.reply a,*/
/*a.comment-edit-link {*/
	/*color: #888;*/
/*}*/
/*.reply a:hover,*/
/*a.comment-edit-link:hover {*/
	/*color: #ff4b33;*/
/*}*/
/*.commentlist .children {*/
	/*list-style: none;*/
	/*margin: 0;*/
/*}*/
/*.commentlist .children li {*/
	/*border: none;*/
	/*margin: 0;*/
/*}*/
/*.nopassword,*/
/*.nocomments {*/
	/*display: none;*/
/*}*/
/*#comments .pingback {*/
	/*border-bottom: 1px solid #e7e7e7;*/
	/*margin-bottom: 18px;*/
	/*padding-bottom: 18px;*/
/*}*/
/*.commentlist li.comment+li.pingback {*/
	/*margin-top: -6px;*/
/*}*/
/*#comments .pingback p {*/
	/*color: #888;*/
	/*display: block;*/
	/*font-size: 12px;*/
	/*line-height: 18px;*/
	/*margin: 0;*/
/*}*/
/*#comments .pingback .url {*/
	/*font-size: 13px;*/
	/*font-style: italic;*/
/*}*/

/*/!* Comments form *!/*/
/*input[type=submit] {*/
	/*color: #333;*/
/*}*/
/*#respond {*/
	/*border-top: 1px solid #e7e7e7;*/
	/*margin: 24px 0;*/
	/*overflow: hidden;*/
	/*position: relative;*/
/*}*/
/*#respond p {*/
	/*margin: 0;*/
/*}*/
/*#respond .comment-notes {*/
	/*margin-bottom: 1em;*/
/*}*/
/*.form-allowed-tags {*/
	/*line-height: 1em;*/
/*}*/
/*.children #respond {*/
	/*margin: 0 48px 0 0;*/
/*}*/
/*h3#reply-title {*/
	/*margin: 18px 0;*/
/*}*/
/*#comments-list #respond {*/
	/*margin: 0 0 18px 0;*/
/*}*/
/*#comments-list ul #respond {*/
	/*margin: 0;*/
/*}*/
/*#cancel-comment-reply-link {*/
	/*font-size: 12px;*/
	/*font-weight: normal;*/
	/*line-height: 18px;*/
/*}*/
/*#respond .required {*/
	/*color: #ff4b33;*/
	/*font-weight: bold;*/
/*}*/
/*#respond label {*/
	/*color: #888;*/
	/*font-size: 12px;*/
/*}*/
/*#respond input {*/
	/*margin: 0 0 9px;*/
	/*width: 100%;*/
/*}*/
/*#respond textarea {*/
	/*width: 100%;*/
/*}*/
/*#respond .form-allowed-tags {*/
	/*color: #888;*/
	/*font-size: 12px;*/
	/*line-height: 18px;*/
/*}*/
/*#respond .form-allowed-tags code {*/
	/*font-size: 11px;*/
/*}*/
/*#respond .form-submit {*/
	/*margin: 12px 0;*/
/*}*/
/*#respond .form-submit input {*/
	/*font-size: 14px;*/
	/*width: auto;*/
/*}*/


/*/!* =Widget Areas*/
/*-------------------------------------------------------------- *!/*/

/*.widget-area ul {*/
	/*list-style: none;*/
	/*margin-left: 0;*/
/*}*/
/*.widget-area ul ul {*/
	/*margin-left: 1.3em;*/
/*}*/
/*.widget-area select {*/
	/*max-width: 100%;*/
/*}*/
/*.widget_search #s {/!* This keeps the search inputs in line *!/*/
	/*width: 100%;*/
/*}*/
/*.widget_search label {*/
	/*display: none;*/
/*}*/
/*.widget-container {*/
	/*margin: 0 0 18px 0;*/
/*}*/
/*.widget-title {*/
	/*color: #222;*/
	/*font-weight: bold;*/
/*}*/
/*.widget-area a:link,*/
/*.widget-area a:visited {*/
	/*text-decoration: none;*/
/*}*/
/*.widget-area a:active,*/
/*.widget-area a:hover {*/
	/*text-decoration: underline;*/
/*}*/
/*.widget-area .entry-meta {*/
	/*font-size: 11px;*/
/*}*/
/*#wp_tag_cloud div {*/
	/*line-height: 1.6em;*/
/*}*/
/*#wp-calendar {*/
	/*width: 100%;*/
/*}*/
/*#wp-calendar caption {*/
	/*color: #222;*/
	/*font-size: 14px;*/
	/*font-weight: bold;*/
	/*padding-bottom: 4px;*/
	/*text-align: left;*/
/*}*/
/*#wp-calendar thead {*/
	/*font-size: 11px;*/
/*}*/
/*#wp-calendar thead th {*/
/*}*/
/*#wp-calendar tbody {*/
	/*color: #aaa;*/
/*}*/
/*#wp-calendar tbody td {*/
	/*background: #f5f5f5;*/
	/*border: 1px solid #fff;*/
	/*padding: 3px 0 2px;*/
	/*text-align: center;*/
/*}*/
/*#wp-calendar tbody .pad {*/
	/*background: none;*/
/*}*/
/*#wp-calendar tfoot #next {*/
	/*text-align: right;*/
/*}*/
/*.widget_rss a.rsswidget {*/
	/*color: #000;*/
/*}*/
/*.widget_rss a.rsswidget:hover {*/
	/*color: #ff4b33;*/
/*}*/
/*.widget_rss .widget-title img {*/
	/*width: 11px;*/
	/*height: 11px;*/
/*}*/

/*/!* Main sidebars *!/*/
/*#main .widget-area ul {*/
	/*margin-left: 0;*/
	/*padding: 0 20px 0 0;*/
/*}*/
/*#main .widget-area ul ul {*/
	/*border: none;*/
	/*margin-left: 1.3em;*/
	/*padding: 0;*/
/*}*/
/*#primary {*/
	/*float: left;*/
	/*width: 170px;*/
	/*margin-left: 4px;*/
/*}*/

/*.i1 {*/
	/*margin-bottom: 80px;*/
	/*padding-top: 726px;*/
/*}*/


/*/!* Footer widget areas *!/*/
/*#footer-widget-area {*/
	/*height: 50px;*/
/*}*/


/*/!* =Footer*/
/*-------------------------------------------------------------- *!/*/

/*#footer {*/
	/*background-color: #3C3A3F;*/
	/*height: 50px;*/
/*}*/

/*#footer a {*/
	/*color: #fff;*/
	 /*font-size: 10px;*/
/*}*/

/*img#wpstats {*/
	/*display: block;*/
	/*margin: 0 auto 10px;*/
/*}*/


/*/!* =Mobile Safari ( iPad, iPhone and iPod Touch )*/
/*-------------------------------------------------------------- *!/*/

/*pre {*/
	/*-webkit-text-size-adjust: 140%;*/
/*}*/
/*code {*/
	/*-webkit-text-size-adjust: 160%;*/
/*}*/
/*#access,*/
/*.entry-meta,*/
/*.entry-utility,*/
/*.navigation,*/
/*.widget-area {*/
	/*-webkit-text-size-adjust: 120%;*/
/*}*/
/*#site-description {*/
	/*-webkit-text-size-adjust: none;*/
/*}*/


/*/!* =Print Style*/
/*-------------------------------------------------------------- *!/*/

/*@media print {*/
	/*body {*/
		/*background: none !important;*/
	/*}*/
	/*#wrapper {*/
		/*clear: both !important;*/
		/*display: block !important;*/
		/*float: none !important;*/
		/*position: relative !important;*/
	/*}*/
	/*#header {*/
		/*border-bottom: 2pt solid #000;*/
		/*padding-bottom: 18pt;*/
	/*}*/
	/*#colophon {*/
		/*padding: 0;*/
	/*}*/
	/*#site-title,*/
	/*#site-description {*/
		/*float: none;*/
		/*line-height: 1.4em;*/
		/*margin: 0;*/
		/*padding: 0;*/
	/*}*/
	/*#site-title {*/
		/*font-size: 13pt;*/
	/*}*/
	/*.entry-content {*/
		/*font-size: 14pt;*/
		/*line-height: 1.6em;*/
	/*}*/
	/*.entry-title {*/
		/*font-size: 21pt;*/
	/*}*/
	/*#access,*/
	/*#branding img,*/
	/*#respond,*/
	/*.comment-edit-link,*/
	/*.edit-link,*/
	/*.navigation,*/
	/*.page-link,*/
	/*.widget-area {*/
		/*display: none !important;*/
	/*}*/
	/*#container,*/
	/*#header,*/
	/*#footer {*/
		/*margin: 0;*/
		/*width: 100%;*/
	/*}*/
	/*#content,*/
	/*.one-column #content {*/
		/*margin: 24pt 0 0;*/
		/*width: 100%;*/
	/*}*/
	/*.wp-caption p {*/
		/*font-size: 11pt;*/
	/*}*/
	/*#site-info,*/
	/*#site-generator {*/
		/*float: none;*/
		/*width: auto;*/
	/*}*/
	/*#colophon {*/
		/*width: auto;*/
	/*}*/
	/*img#wpstats {*/
		/*display: none;*/
	/*}*/
	/*#site-generator a {*/
		/*margin: 0;*/
		/*padding: 0;*/
	/*}*/
	/*#entry-author-info {*/
		/*border: 1px solid #e7e7e7;*/
	/*}*/
	/*#main {*/
		/*display: inline;*/
	/*}*/
	/*.home .sticky {*/
		/*border: none;*/
	/*}*/
/*}*/


/*#qtranslate-2 li a,*/
/*#footer span,*/
/*#footer span a {*/
	/*color: #ffffff !important;*/
	/*font-size: 11px !important;*/
  /*font-family: Verdana, 'PT Serif',serif;*/
  /*font-style:normal;*/
  /*width: 20px;*/
/*}*/

/*#qtranslate-2 li a:hover,*/
/*#footer span a:hover {*/
	/*color: #57D1D6 !important;*/
  /*font-family: Verdana, 'PT Serif',serif;*/
  /*font-size: 11px !important;*/
  /*font-style:normal;*/
  /*width: 20px;*/
/*}*/

/*#qtranslate-2 li {*/
	/*float: left;*/
	/*width: 20px;*/
/*}*/

/*#text-2 a {*/
	/*margin: -13px 0 0 -8px;*/
/*}*/

/*#second {*/
	/*margin-top: 10px !important;*/
	/*width:643px !important;*/
/*}*/

/*#text-2 a,*/
/*#text-2 span {*/
	/*font-size: 10px !important;*/
/*}*/

/*#footer .slinks {*/
	 /*margin: -41px -47px 0 0;*/
/*}*/

/*#footer .slinks li {*/
	 /*width: 17px;*/
/*}*/

/*#footer .slinks a {*/
	/*color: #fff !important;*/
	/*font-weight: bold !important;*/
	/*font-size: 11px !important;*/
/*}*/

/*#footer .slinks a:hover,*/
/*#third #qtranslate-2 li.active a,*/
/*#third #qtranslate-2 a:hover {*/
	/*color: #57D1D6  !important;*/
/*}*/

/*#third {*/
    /*margin-top: -10px;*/
/*}*/

/*.clear {*/
	/*clear: both;*/
/*}*/

/*#post-1 {*/
    /*width: 954px;*/
/*/!*    height: 390px; *!/*/
/*}*/

/*#post-1 p {*/
    /*color: #383838;*/
    /*float: right;*/
    /*font-family: 'PT Serif',serif;*/
    /*font-size: 30px;*/
    /*font-style: italic;*/
    /*font-weight: normal;*/
    /*line-height: 1 !important;*/
    /*text-transform: lowercase;*/
    /*width: 478px;*/
/*}*/

/*#post-1 h2 a,*/
/*#post-48 h2 a {*/
	/*display: none !important;*/
/*}*/

/*#post-48 {*/
	/*height: 390px;*/

    /*margin-top: -40px;*/
/*}*/

/*#post-48 img {*/
	 /*margin-right: 10px;*/
    /*width: 224px;*/
/*}*/

/**:first-child+html #post-48 {*/
	/*margin-top: -90px !important;*/
/*}*/

/*.page .entry-content{*/
	/*float: right;*/
	/*width: 500px;*/
/*}*/

/*.page-template-onecolumn-page-php .entry-content {*/
    /*width: 920px;*/
    /*float: none;*/
/*}*/

/*.type-page {*/
    /*width: 938px;*/
/*}*/

/*.type-page h1 {*/
	/*display: none;*/
/*}*/

/*#header {*/
	/*border-top: 6px solid #3C3A3F;*/
	/*background-color: #fff;*/
	/*top: 0;*/
	/*border-top: 6px solid #3C3A3F;*/
	/*width: 100%;*/
	/*overflow: visible;*/
	/*height: 70px;*/
/*}*/

/*#masthead {*/

	/*margin: 0 auto !important;*/
/*}*/

/*#post-89 .entry-summary {*/

/*}*/

/*#post-89 .entry-summary img {*/
	/*margin: 0 8px 8px 0;*/
/*}*/

/*#post-89 .entry-summary a {*/
	/*visibility: hidden;*/
/*}*/

/*#post-89 .entry-summary img:hover,*/
/*#post-48 img:hover {*/
	/*cursor: pointer;*/
/*}*/

/*#nav_menu-3,*/
/*#nav_menu-4 {*/
	/*float: left;*/
    /*margin-left: -20px;*/
	/*width: 481px;*/
    /*margin-bottom: 15px;*/
/*}*/

/*.header-widget-area {*/
	/*height: 120px;*/
/*}*/

/*#nav_menu-3 li,*/
/*#nav_menu-4 li {*/
	/*float: left;*/
	/*margin: 0 16px 0 -10px;*/
/*}*/

/*.page-title {*/
	/*display: none;*/
/*}*/

/*.menu-sub_en-container,*/
/*.menu-sub_ru-container*/
 /*{*/
	/*margin-left: 30px;*/
/*}*/

/*#post-89 .entry-title {*/
	/*display: none;*/
/*}*/

/*#nav_menu-3 .current-menu-item a,*/
/*#nav_menu-4 .current-menu-item a {*/
	/*color: #57D1D6 !important;*/
/*}*/

/*.menu-sub_sub_en-container,*/
/*.menu-sub_sub_ru-container {*/
	/*margin-left: -26px;*/
/*}*/

/*.menu-sub_sub_en-container li,*/
/*.menu-sub_sub_ru-container li {*/
	 /*margin-bottom: -19px;*/
	 /*font-size: 10px;*/
/*}*/

/*.menu-sub_sub_en-container li a,*/
/*.menu-sub_sub_ru-container li a {*/
	 /*font-size: 12px !important;*/
/*}*/

/*.ttip {*/
    /*float: left;*/
    /*height: 264px;*/
    /*margin: 0 10px 30px 0;*/
    /*overflow: hidden;*/
    /*width: 224px;*/
    /*/!* border: 1px solid #F1F1F1; *!/*/
/*}*/

/*.ttip span {*/
    /*/!* display: none;*/
    /*background-color: #000000 !important;*/
    /*color: #FFFFFF !important;*/
    /*display: none;*/
    /*font-size: 17px !important;*/
    /*height: 215px !important; *!/*/
    /*background-color: #ffffff !important;*/
    /*color: #383838 !important;*/
    /*font-size: 12px !important;*/
    /*opacity: 0.9;*/
    /*padding: 10px 0 0 10px !important;*/
    /*position: absolute !important;*/
    /*vertical-align: middle !important;*/
    /*/!* width: 218px !important; *!/*/
    /*width: 216px !important;*/
    /*z-index: 1000 !important;*/
    /*filter:alpha(opacity=70);*/
    /*line-height: 1.1;*/
    /*font-family: Verdana;*/
        /*/!* font-style: italic; *!/*/
    /*bottom:0;*/
/*}*/

/*.ttip:hover span {*/
    /*display: block;*/
    /*background-color: #ffffff !important;*/
    /*color: #000000 !important;*/
    /*font-size: 12px !important;*/
    /*/!* height: 221px !important; *!/*/
    /*opacity: 1;*/
    /*padding: 10px 0 0 10px !important;*/
    /*position: absolute !important;*/
    /*vertical-align: middle !important;*/
    /*width: 216px !important;*/
    /*z-index: 1000 !important;*/
    /*filter:alpha(opacity=100);*/
    /*line-height: 1.1;*/
    /*font-family: Verdana;*/
    /*/!* font-style: italic; *!/*/
    /*bottom:0;*/
/*}*/


/*#rp_nav {*/
	/*display: none;*/
/*}*/

/*#post-5 .entry-content {*/
	/*width: 683px;*/
/*}*/

/*#post-5 h2 {*/
	/*margin-left: 131px;*/
    /*font-size: 32px;*/
/*}*/

/*#post-5 h2 a {*/
    /*font-size: 32px !important;*/
/*}*/


/*.category .entry-summary,*/
/*.tag .entry-summary,*/
/*.tag .post,*/
/*.category .post {*/
	/*float: left !important;*/
    /*height: 264px;*/
    /*margin-bottom: 30px;*/
    /*margin-right: 16px;*/
    /*width: 224px !important;*/
/*}*/

/*.category .entry-title {*/
	/*display: none;*/
/*}*/

/*.tag #content,*/
/*.category #content{*/

	/*z-index: 10000;*/
    /*margin-left: 10px;*/
    /*float: left;*/
/*}*/

/**:first-child+html .category #content {*/

/*}*/

/**:first-child+html .tag #content {*/

    /*margin-top: 30px !important;*/
/*}*/

/*.a2 {*/
	/*margin-top: 53px;*/
/*}*/

/*li {*/
	/*list-style-type: none;*/
/*}*/

/*.WPBannerizeWidget {*/
	/*width: 450px;*/
	/*float: right;*/
	/*margin-right: 10px;*/
	/*overflow: visible;*/
/*}*/

/*.page #header-widget-area img {*/
	/*float: right;*/
    /*margin-right: -19px;*/
     /*margin-top: -6px !important;*/
/*}*/

/*#text-20 {*/

/*}*/

/*#head_slogans {*/

/*}*/

/*#head_slogans .widget_text {*/
    /*float: right;*/
    /*font-size: 30px !important;*/
    /*font-weight: normal !important;*/
    /*margin-bottom: 20px;*/
    /*margin-top: -61px;*/
    /*width: 476px;*/
    /*font-family: 'PT Serif',serif;*/
    /*font-style: italic;*/
    /*line-height:1;*/
    /*color:#383838;*/
/*}*/

/*.widgettitle {*/
    /*font-family: 'PT Serif',serif;*/
    /*font-style: italic;*/
    /*line-height:1;*/
    /*font-size: 30px !important;*/
    /*font-weight: normal;*/
/*}*/

/*.labels {*/
    /*width: 300px;*/
/*}*/

/*.labels_txt {*/
    /*width: 277px;*/
/*}*/


/*.labels span,*/
/*.labels_txt span     {*/
    /*margin-left: -19px;*/
/*}*/

/*#content tr td p {*/
    /*float: right;*/
    /*width: 451px;*/
/*}*/

/*.page-id-72 #content tr td p {*/
    /*float: right;*/
    /*width: 600px !important;*/
/*}*/

/*#tags {*/
	/*margin: 10px 0 0 -8px;*/
/*}*/

/*.single #tags {*/
    /*margin: 10px 0 0 -7px;*/
    /*width:700px;*/
/*}*/

/*.tag #tags a {*/
	/*float: left;*/
/*}*/

/*.tag #primary {*/
	/*height: 102px;*/
    /*margin-left: 10px;*/
    /*width: 700px;*/
/*}*/

/*.tag .entry-title {*/
	/*display: none;*/
/*}*/

/*.tag #container {*/
	/*margin-left: 7px;*/
/*}*/

/*.tag .entry-summary {*/
    /*margin-left: -5px;*/
/*}*/

/**:focus {*/
        /*outline: none;*/
/*}*/

/*#menu-sub_ru li a,*/
/*#menu-sub_en li a,*/
/*#tags a {*/
    /*font-size: 12px !important;*/
/*}*/

/*#tags a {float:left}*/

/*#content a {*/
    /*font-size: 11px !important;*/
    /*color: #333 !important;*/
    /*padding: 0 !important;*/
    /*display: inline !important;*/
    /*position: relative;*/
/*}*/

/*#content a:hover {*/
    /*color: #57D1D6 !important;*/
/*}*/

/*/!*blog*!/*/

/*.category-blog .post {*/
    /*float: right !important;*/
    /*width: 580px !important;*/
/*}*/

/*.category-blog h1 {*/
    /*display: block !important;*/
    /*font-size: 21px !important;*/
    /*color: #333  !important;*/
/*}*/

/*.category-blog .post {*/
    /*float: right;*/
    /*height: auto !important;*/
    /*width: 680px !important;*/
/*}*/

 /*{*/

/*}*/

/*.tag .entry-summary .ttip .blog_summary {*/
    /*line-height: 17px;*/
    /*padding: 3px !important;*/
    /*display: block !important;*/
    /*color: #000 !important;*/
    /*font-size: 11px !important;*/
    /*background-color: #fff !important;*/
/*}*/

/*.more-link {*/
    /*float: right;*/
    /*margin-top: -15px !important;*/

/*}*/

/*.pages {*/
    /*color: #333;*/
/*}*/

/*.page-numbers {*/
    /*width: 20px;*/
/*}*/

/*.paging {*/
    /*float: right;*/
    /*height: 20px;*/
    /*margin-right: -10px !important;*/
/*}*/

/*.paging a {*/
    /*font-size: 11px !important;*/
    /*color: #0066CC;*/
/*}*/

/*.category-blog #content {*/
    /*width: 650px !important;*/
    /*float: right;*/
/*}*/

/*.category-blog #primary {*/
    /*width: 250px;*/
    /*float: left;*/
    /*margin-top: -34px;*/
/*}*/

/*.single-format-aside #primary {*/
    /*float: left;*/
    /*margin: 38px 0 0 -5px;*/
    /*width: 200px;*/
/*}*/

/*.single-format-aside #primary li,*/
/*.category-blog #primary li {*/
    /*margin: 0 0 10px -16px;*/
/*}*/

/*.category-blog #primary li a,*/
/*.single-format-aside #primary li a {*/
    /*line-height: 15px !important;*/
    /*font-size: 12px !important;*/
/*}*/

/*#tag-link-19 {*/
    /*display: none; !important*/
/*}*/

/*.category-blog .active, .slinks .activew {*/
     /*color: #57D1D6 !important;*/
/*}*/

/*.page-id-2 #content tr td p {*/
    /*width: auto;*/
    /*float: left;*/
/*}*/