.Site-Footer
{
  @extend %Wrapper;
  display: table;
  width: 100%;
  padding: 21px 28px;
  @include Adaptive('>=1000px')
  {
    padding: 23px 42px;
  }

  a
  {
    &:hover
    {
      color: $C-Termal !important;
    }
  }
  > *
  {
    display: table-cell;
    vertical-align: middle;
  }
  color: white;

  a, span
  {
    @extend %Font-Circle-Regular;
    color: white;
    font-size: 14rem;
    @include Adaptive('>=740px')
    {
      font-size: 18rem;
    }
  }
  @at-root .Footer-Left-Wrap
  {

    width: 50%;

    .Contact-Info
    {
      .textwidget
      {
        display: table;

        a
        {
          display: table;
          color: white;
          @include Adaptive('>=600px')
          {
            display: table-cell;
            vertical-align: middle;
          }
          &[href^=tel]
          {
            color: white;
            text-decoration: none;
          }
          &:link
          {
            text-decoration: none;
            color: white;
          }
          &:first-of-type
          {
            padding-bottom: 10px;
            @include Adaptive('>=600px')
            {
              padding-bottom: 0;
              padding-right: 16px;
            }
            @include Adaptive('>=1000px')
            {
              display: inline-block;
              min-width: 180px;
              padding-bottom: 0;
              padding-right: 25px;

            }
          }
        }

      }
      .Phone-Mail
      {

      }
    }

  }
  @at-root .Footer-Right-Wrap
  {
    .Content-Right
    {

      display: table;
      margin-left: auto;

      .Footer-Info
      {

        @include Adaptive('>=600px')
        {
          display: table-cell;
          vertical-align: middle;
        }

      }

    }

  }

  .Socials
  {
    ul
    {
      display: table;
      li
      {
        display: table-cell;
        vertical-align: middle;
        &:first-of-type
        {
          svg
          {
            height: 15px;
          }
        }
        a
        {
          font-size: 0;

        }

        & + li
        {
          padding-left: 10px;
          @include Adaptive('>=1000px')
          {
            padding-left: 25px;
          }
        }
      }
    }
    a
    {
      color: white;

      &:hover
      {
        svg
        {
          @extend %Transition-Std;
          fill: $C-Termal;
        }
      }

    }
    svg
    {
      @extend %Transition-Std;
      height: 22px;
      width: 22px;
      fill: white;

    }
  }
  @at-root .Footer-Search
  {
    display: none;
    //display: table-cell;
    padding-left: 23px;
    @include Adaptive('>=1900px')
    {

      vertical-align: middle;
    }

    .Search
    {

      position: relative;
      form
      {
        position: relative;
        width: 140px;
      }
      .Submit-Label
      {
        display: table;
        padding: 10px;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 0;

        cursor: pointer;

        &:after
        {
          content: url("/wp-includes/images/search.svg");
          display: block;
          width: 20px;
          height: 20px;
          fill: white
        }
      }
      input
      {
        @extend %Font-Circle-Regular;
        width: 100%;
        border-radius: 1px;
        line-height: 38px;
        padding: 0 35px 0 15px;
        -webkit-appearance: none;
        background-color: $C-Secondary-Dark;
        color: white;
        font-size: 15rem;

      }
      input[type="submit"]
      {
        display: none;
      }
    }
  }

  @at-root .Footer-Info
  {
    @include Adaptive('>=TM')
    {
      display: table-cell;
      vertical-align: middle;

    }

    .Language-Select
    {

      @include Adaptive('>=600px')
      {
        padding-left: 32px;
      }
      .lang-en
      {
        padding-left: 12px;
      }

      a
      {
        @extend %Transition-Std;
        background: transparent;
        span
        {
          @extend %Transition-Std;
        }
        &:hover
        {
          @extend %Transition-Std;
          background: transparent;

          color: $C-Termal;
          span
          {
            @extend %Transition-Std;
            color: $C-Termal;
          }

        }
      }
      .active
      {
        a
        {
          cursor: default;
          border-bottom: transparent;

        }

      }
      span
      {
        font-size: 18rem;
      }
      @at-root .qtrans_language_chooser
      {
        display: table;
        margin-left: auto;
        > *
        {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    .Phone-Mail
    {
      @extend %Table-Content;
      a
      {
        line-height: $LHA;
        &:first-of-type
        {
          padding-bottom: 14px;
          @include Adaptive('>=740px')
          {
            padding-bottom: 0;
          }
        }
        & + a
        {
          @include Adaptive('>=740px')
          {
            padding-left: 16px;
          }

        }

      }
    }

  }
}